<div class="dashboard-body">
  <div class="creator-menu">
    <nav role="navigation">
      <div class="nav-head" ng-if="vm.authentication.user">
        <div class="nav-item-wrapper creator-company">
          {{ company.company.name }}<span><a ui-sref="footer.select">Change Company</a></span>
        </div>
        <div class="nav-item-wrapper creator-user">
          <a ui-sref='slug.company.navbar.user.profile'>
            <img up-avatar="vm.authentication.user" width="72" height="72"> {{ vm.authentication.user.firstName }}
          </a>
        </div>
      </div>

      <div class="nav-head" ng-if="!vm.authentication.user">
        <div class="nav-item-wrapper nav-item-main">
            <a href="/authentication/signin">Sign In</a>
        </div>
      </div>

      <div class="nav-section" ng-if="vm.navbar.shouldRender(company.authentication.user);">
        <div ng-repeat="item in vm.navbar.items | orderBy: 'position'" ng-if="item.shouldRender(company.authentication.user);" ng-switch="item.type" ng-class="{ active: vm.state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}} nav-item-wrapper nav-item-main" dropdown="item.type === 'dropdown'">
          <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
        </div>
      </div>

      <div class="nav-section" ng-if="vm.authentication.user">
        <div class="nav-item-wrapper nav-item-main">
          <a href="" ng-click="vm.signout()" target="_self">Log out</a>
        </div>
      </div>

    </nav>
  </div>

  <div ui-view class="dashboard-container"></div>
</div>
