<div class="creator-menu">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <nav role="navigation">
    <div class="nav-head" ng-if="authentication.user">
<!--       <select name="mySelect" id="mySelect"
        ng-options="company.name for company in companies track by company.id"
        ng-change="companyChange(company)"
        ng-model="company">
      </select> -->
      <div class="nav-item-wrapper"><a class="creator-company" ng-click="handleCompanyClick()" href="#">{{ company.name }}</a></div>
      <div class="nav-item-wrapper creator-user">
        <a ui-sref='user.settings.profile'><img src="modules/core/client/img/default-avatar.png"> {{authentication.user.firstName}}</a>
      </div>
    </div>

    <div class="nav-head" ng-if="!authentication.user">
      <div class="nav-item-wrapper nav-item-main">
          <a href="/authentication/signin">Sign In</a>
      </div>
    </div> 

    <div class="nav-section">
      <div class="nav-item-wrapper nav-item-main">
        <a href="/campaigns">Campaigns</a>
      </div>
      <div class="nav-item-wrapper nav-item-main">
        <a ui-sref="user.product.list">Products</a>
      </div>
      <div class="nav-item-wrapper nav-item-main">
        <a ui-sref="user.company.profile">Company Info</a>
      </div>
    </div>

    <div class="nav-section">
      <div class="nav-item-wrapper nav-item-main" data-ng-repeat="item in menu.items | orderBy: 'position'">
        <a data-ui-sref="{{ item.state }}">{{ item.title }}</a>
      </div>
    </div>

    <div class="nav-section" ng-if="authentication.user">
      <div class="nav-item-wrapper nav-item-main">
        <a href="/api/auth/signout" target="_self">Log out</a>
      </div>
    </div>
       
  </nav>
</div>

<div ui-view class="dashboard-container"></div>
