<div class="creator-menu" ng-if="authentication.user">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <nav role="navigation">
    <div class="nav-section">
      <div class="nav-item-wrapper creator-name">{{authentication.user.displayName}}</div>
      <div class="nav-item-wrapper">
        <a a href="/api/auth/signout" target="_self" ng-if="authentication.user">Sign Out</a>
        <a ui-sref="authentication.signin" target="_self" ng-if="!authentication.user">Sign In</a>
      </div>
    </div> 
    <div class="nav-section">
      <div class="nav-item-wrapper" data-ng-repeat="item in menu.items | orderBy: 'position'">
        <a data-ui-sref="{{ item.state }}">{{ item.title }}</a>
      </div>
    </div>
<!--     <div class="nav-section">
      <div class="nav-item-wrapper">
        <a data-ui-sref="">Settings</a>
      </div>
      <div class="nav-item-wrapper">
        <a data-ui-sref="">Settings</a>
      </div>
    </div> -->
       
  </nav>
</div>
<div ui-view class="dashboard-container"></div>