<nav class="navbar" role="navigation">
  <div class="navbar-content">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sproutup-collapse-navbar">Menu</button>
      <a class="navbar-brand" ui-sref="footer.home">
        <img class="logo" alt="logo" src="modules/core/client/img/logo-white.png"/>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="sproutup-collapse-navbar">
      <ul class="nav navbar-nav navbar-item navbar-right">
        <li class="sign-in" ng-if="!vm.authentication.user"><a ui-sref="authentication.signin">Sign In</a></li>
        <li class="sign-in" ng-if="vm.authentication.user"><a ui-sref="footer.select">My Dashboard</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="dashboard-product-banner" ng-init="" style="background-image: url('https://s3-us-west-2.amazonaws.com/sproutup-assets/banner-moment-lens.jpg');">
  <div class="dashboard-product-info-wrapper">
    <div class="dashboard-main-tagline">We’re on a mission to <strong>help your products grow</strong>.</div>
    <div class="dashboard-secondary-tagline">Whether you are an indie product maker or a renowned brand, SproutUp is the best crowd-marketing platform to produce engaging content and generate highly-qualified leads.</div>
    <div class="dashboard-cta" ng-if="!vm.authentication.user">
      <form name="form" class="form-inline" novalidate autocomplete="off">
        <input name="email" type="email" class="form-control dashboard-signup-input" placeholder="Your email account" ng-model="vm.email" ng-model-options="{ debounce: 250 }" unique-email required>
        <button analytics-on="click" analytics-event="Get Started" type="submit" ng-disabled="form.$invalid" class="btn btn-lg sproutup-btn-lg-main orange" ng-click="vm.getStarted()">
          <span ng-hide="vm.company">Get Started</span>
          <span ng-show="vm.company">Join {{vm.company.name}}</span>
        </button>
        <div ng-show="form.email.$error.uniqueemail" class="dashboard-signup-error">
          <p>&#x1F613; This email is already taken!</p>
        </div>
      </form>
      <div class="dashboard-signup-message">
        <p>Fast to setup. Launch and manage campaigns, FOR FREE.</p>
      </div>
    </div>
    <div class="dashboard-cta" ng-if="vm.authentication.user">
      <div class="dashboard-cta-message">Welcome back, {{ vm.authentication.user.displayName }}</div>
      <div class="dashboard-cta-tip">"The way to get started is to quit talking and begin doing.” - Walt Disney</div>
    </div>
  </div>
  <div class="dashboard-footer">Brands like <a href="http://momentlens.co/" target="_blank">Moment Lens</a> launch campaign to put their product in the hands of YouTubers and let incredible videos unfold.</div>
</div>
<div class="dashboard-hiw">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-6">
      <h1>Launch your campaign</h1>
      <p>Launching a campaign on SproutUp helps you reach audience with inbound marketing.</p>
      <p>Pick a campaign template that fits the type of people you’re looking for: beta-testers, tech reviewers, lifestyle trendsetters, or comedic personalities on social media. Fill out a few details about your campaign, specify the social media channels to hire content creators from and start attracting influencers.</p>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/home/campaign.png">
    </div>
  </div>
</div>
<div class="dashboard-hiw b">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-6">
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/home/influencer.png">
    </div>
    <div class="col-sm-6">
      <h1>Influencers bid to join your campaign</h1>
      <p>As pitches come in, select the right influencers with help from SproutUp’s matchmaking algorithm that matches your preference and campaign fit. Direct chat with bidders is available, too.</p>
    </div>
  </div>
</div>
<div class="dashboard-hiw">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-6">
      <h1>Authentic content draws targeted audience</h1>
      <p>Campaign participants capture their authentic experience with your product in compelling visual content - short YouTube videos, blogs, Instagram photos, Vine loops, live Periscope demo, and so forth.</p>
      <p>Coming from trusted people, content draws in raving fans to your product.</p>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/home/content.png">
    </div>
  </div>
</div>
<div class="dashboard-hiw b">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-6">
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/home/leadgen.png">
    </div>
    <div class="col-sm-6">
      <h1>Generate highly-qualified leads</h1>
      <p>Content viewers click on referral links and come to your campaign page.</p>
      <p>Gain highly qualified leads, as SproutUp produces high conversion through customized engagement activities—community building, calls-for-action, social contests, and affiliate offers–on the platform.</p>
    </div>
  </div>
</div>
<div class="dashboard-hiw">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-6">
      <h1>Track your campaign metrics</h1>
      <p>With SproutUp analytics it’s super easy for you to draw real-time insights on your campaign metrics - content impressions, prospect engagements, and visitor-to-lead conversions.</p>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/home/analytics.png">
    </div>
  </div>
</div>

<div class="dashboard-hiw b">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-12">
      <h2>Ready to start your first campaign?</h2>
      <div ng-if="!vm.authentication.user">
        <form name="form" class="form-inline" novalidate autocomplete="off">
          <input name="email" type="email" class="form-control dashboard-signup-input" placeholder="Your email account" ng-model="vm.email" ng-model-options="{ debounce: 250 }" unique-email required>
          <button analytics-on="click" analytics-event="Get Started" type="submit" ng-disabled="form.$invalid" class="btn btn-lg sproutup-btn-lg-main orange" ng-click="vm.getStarted()">
            <span ng-hide="vm.company">Yes</span>
          </button>
          <div ng-show="form.email.$error.uniqueemail" class="dashboard-signup-error">
            <p>&#x1F613; This email is already taken!</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
