<nav class="navbar" role="navigation">
  <div class="navbar-content">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="footer.home">
        <img class="logo" alt="logo" src="modules/core/client/img/logo-white.png"/>
      </a>
      <div uib-dropdown>
        <button class="navbar-toggle" uib-dropdown-toggle>Menu</button>
        <ul style="right: 13px; left: initial" uib-dropdown-menu class="navbar-toggleMenu nav navbar-nav navbar-item navbar-right" role="menu">
          <li><a href="https://beta.sproutup.co">For Content Creators</a></li>
          <li ng-if="!vm.authentication.user"><a ui-sref="authentication.signin">Sign In</a></li>
          <li ng-if="vm.authentication.user"><a ui-sref="footer.select">My Dashboard</a></li>
        </ul>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="sproutup-collapse-navbar">
      <ul class="nav navbar-nav navbar-item navbar-right">
        <li class="sign-in"><a href="https://beta.sproutup.co">For Content Creators</a></li>
        <li class="sign-in" ng-if="!vm.authentication.user"><a ui-sref="authentication.signin">Sign In</a></li>
        <li class="sign-in" ng-if="vm.authentication.user"><a ui-sref="footer.select">My Dashboard</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="dashboard-product-banner" ng-init="" style="background-image: url('https://s3-us-west-2.amazonaws.com/sproutup-assets/banner-moment-lens.jpg');">
  <div class="row dashboard-product-info-wrapper">
    <div class="dashboard-main-tagline">We help build <strong><i>brand awareness</i></strong> around your new products</div>
    <div class="dashboard-secondary-tagline">Work with the right influential content creators to consistently produce engaging content with personality, taste and variety.</div>
    <div class="dashboard-cta" ng-if="!vm.authentication.user">
      <form name="form" class="form-inline" novalidate autocomplete="off">
        <input name="email" type="email" class="form-control dashboard-signup-input" placeholder="Your email account" ng-model="vm.email" ng-model-options="{ debounce: 250 }" unique-email required>
        <button analytics-on="click" analytics-event="Get Started" type="submit" ng-disabled="form.$invalid" class="btn btn-lg sproutup-btn-lg-main orange" ng-click="vm.getStarted()">
          <span ng-hide="vm.company">Get Started</span>
          <span ng-show="vm.company">Join {{vm.company.name}}</span>
        </button>
        <div ng-show="form.email.$error.uniqueemail" class="dashboard-signup-error">
          <p>&#x1F613; This email is already taken!</p>
        </div>
      </form>
      <div class="dashboard-signup-message">
        <p>Dashboard is in beta. Contact us for a demo and get pricing information (Hint: click the blue chat icon at the bottom right corner).</p>
      </div>
    </div>
    <div class="dashboard-cta" ng-if="vm.authentication.user">
      <div class="dashboard-cta-message">Welcome back, {{ vm.authentication.user.displayName }}</div>
      <div class="dashboard-cta-tip">"The way to get started is to quit talking and begin doing.” - Walt Disney</div>
    </div>
  </div>
  <div class="dashboard-footer">Brands like <a href="http://momentlens.co/" target="_blank">Moment Lens</a> launch campaign to put their product in the hands of YouTubers and let incredible videos unfold.</div>
</div>

<div class="dashboard-hiw">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-12">
      <h1 class="center">Content creators are changing the way marketing is done.</h1>
      <h2>Do you know...?</h2>
      <p class="center"><strong>84%</strong> of millennials don't trust traditional advertising.</p>
      <p class="center"><strong>70%</strong> of 18 to 34 year-olds had the highest preference for peer endorsement.</p>
      <p class="center"><strong>67%</strong> of consumers agree that an endorsement from an unbiased expert makes them more likely to consider buying.</p>
    </div>
  </div>
</div>
<div class="row dashboard-hiw-section title-only">
  <h1>See how SproutUp helps</h1>
</div>

<div class="dashboard-hiw">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-6">
      <h1>Launch your campaign.</h1>
      <p>Launching a campaign on SproutUp helps you reach a huge audience with <strong>inbound marketing</strong>.</p>
      <p>Pick a campaign template that fits the type of people you’re looking for: tech reviewers, lifestyle trendsetters, comedic personalities on social media, or beta-testers. Fill out a few details about your campaign, specify the social media channels to hire content creators from and start attracting them.</p>
      <p>Look for examples? Check out live campaigns <a href="https://beta.sproutup.co">here</a>.</p>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/home/campaign.jpg">
    </div>
  </div>
</div>
<div class="dashboard-hiw b">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-6">
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/home/influencer.jpg">
    </div>
    <div class="col-sm-6">
      <h1>See who’s joining. Pick who you like.</h1>
      <p>You know that finding and hiring <strong>the right influencers</strong> is time-consuming and more so like "gambling".</p>
      <p>With SproutUp, you can get it done easily and effectively. As requests come in, select the right influencers with help from SproutUp’s <strong>matchmaking</strong> algorithm that matches the influencer profiles with your product, campaign and preference. Directly chat with candidates to learn more about them, if you’d like.</p>
    </div>
  </div>
</div>
<div class="dashboard-hiw">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-6">
      <h1>Trustworthy content draws real attention from audience.</h1>
      <p>Campaign participants capture their authentic experience with your product in compelling visual content - YouTube videos, blogs, Instagram photos, Vine loops, live Periscope demo, and so on.</p>
      <p>Coming from trusted influencers, our community’s content can bring targeted, excited fans to your products.</p>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/home/content.jpg">
    </div>
  </div>
</div>
<div class="dashboard-hiw b">
  <div class="row dashboard-hiw-section">
    <div class="col-sm-6">
      <h1>Focus on the right metrics.</h1>
      <p>With the easy-to-understand analytics tool, you can improve your marketing efforts and be more impactful by focusing on the most important metrics:</p>
      <p>"How many people are viewing the content?"</p>
      <p>"How many viewers are paying attention to and engaging with my brand?"</p>
      <p>"How long do they watch the videos? Do they enjoy the content?"</p>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/home/analytics.jpg">
    </div>
  </div>
</div>
