<div class="dashboard-side-panel" ng-init="contributor.getDetails()">
  <div class="dashboard-side-panel-wrapper">
    <div class="dashboard-side-panel-close">
      <a class="btn sproutup-btn-xs" ui-sref="slug.company.navbar.campaign.view.trial.requests"><i class="fa fa-times"></i></a>
    </div>
    <!-- panel header -->
    <div class="dashboard-side-panel-header">
      <p>{{ contributor.item.user.displayName }}</p>
    </div>

    <!-- section: trial status management -->
    <div class="dashboard-side-panel-section">
      <h4>Product Trial</h4>
      <div class="dashboard-side-panel-section-body">
        <div class="product-trial-item--detail">
          <div class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Requested on {{ contributor.item.created | date:'MMM dd, yyyy' }}</div>
          <div class="product-trial-item--status-desc">
            <p><span class="label label-info">Why</span>{{ contributor.item.comment }}</p>
            <p ng-if="contributor.item.bid"><span class="label label-info">Sponsorship</span>I'd like to ask <strong>{{ contributor.item.bid | currency }}</strong> for sponsored content.</p>
            <p ng-if="!contributor.item.bid"><span class="label label-info">Sponsorship</span>I'd like to create content <strong>without</strong> sponsorship.</p>
          </div>
        </div>

        <div class="product-trial-item--detail" ng-if="contributor.item.state === 0">
          <div class="product-trial-item--status reminder"><i class="fa fa-question-circle"></i>Approve this request?</div>
          <div class="product-trial-item--status-desc" ng-click="contributor.approveTrial()"><button class="btn sproutup-btn-sm aqua" ng-click="contributor.approveRequest(contributor.item)">YES to {{ contributor.item.user.displayName }}</button></div>
        </div>

        <div class="product-trial-item--detail" ng-if="contributor.item.state > 0">
          <div class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Approved on {{ contributor.item.log[0].created | date:'MMM dd, yyyy' }}</div>
          <div class="product-trial-item--status-desc" ng-if="!contributor.item.trial.shippingState"><span class="label label-info">Shipping</span>Please ship product as soon as you can.</div>
          <div class="product-trial-item--shipping" ng-if="!contributor.item.trial.shippingState">
            <div class="name">{{ contributor.item.user.displayName }}</div>
            <div class="address">{{ contributor.item.address }}</div>
            <div class="address phone"><i class="fa fa-phone"></i>{{ contributor.item.phone | tel }}</div>
            <div class="address"><i class="fa fa-at"></i>{{ contributor.item.user.email }}</div>
          </div>
        </div>

        <div class="product-trial-item--detail" ng-if="contributor.item.state > 0 && !contributor.item.trial.shippingState">
          <div class="product-trial-item--detail">
            <div class="product-trial-item--status reminder"><i class="fa fa-question-circle"></i>Have you shipped the product?</div>
            <div class="product-trial-item--status-desc"><button class="btn sproutup-btn-sm aqua" ng-click="contributor.productShipped()">YES! En route.</button></div>
          </div>
        </div>

        <div class="product-trial-item--detail" ng-if="contributor.item.state > 0 && contributor.item.trial.shippingState">
          <div class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Product shipped<span><a href="#" ng-click="showShippingAddress = !showShippingAddress">Show shipping address</a></span></div>
          <div class="product-trial-item--shipping" ng-if="showShippingAddress">
            <div class="name">{{ contributor.item.user.displayName }}</div>
            <div class="address">{{ contributor.item.address }}</div>
            <div class="address phone"><i class="fa fa-phone"></i>{{ contributor.item.phone | tel }}</div>
            <div class="address"><i class="fa fa-at"></i>{{ contributor.item.user.email }}</div>
          </div>
        </div>

        <div class="product-trial-item--detail" ng-if="contributor.item.state > 0 && !contributor.item.content.length">
          <div class="product-trial-item--detail">
            <div class="product-trial-item--status reminder"><i class="fa fa-question-circle"></i>Content not live yet</div>
          </div>
        </div>

        <div class="product-trial-item--detail" ng-if="contributor.item.content.length > 0">
          <div class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Content live</div>
          <div class="product-trial-item--status-desc">
            <p>{{ contributor.item.user.displayName }} has published {{ contributor.item.content.length }} content</p>
            <div ng-repeat="content in contributor.item.content | orderBy: '-created'">
              <up-media item="content" ng-if="content.ref"></up-media>
            </div>
          </div>
        </div>

        <div class="product-trial-item--detail" ng-if="contributor.item.content.length > 0">
          <div class="product-trial-item--status current"><i class="fa fa-check-circle"></i>Make payment with Square Cash&trade;</div>
          <div class="product-trial-item--status-desc">
            <p>{{ contributor.item.user.displayName }} has submitted content for this campaign. If everything looks great, please pay the agreed sponsorship at your earliest convenience.</p>
            <a ng-if="contributor.item.user.cashtag" class="btn sproutup-btn-sm minimal" href="https://cash.me/{{ contributor.item.user.cashtag }}/{{ contributor.item.bid }}" target="_blank">Pay {{ contributor.item.bid | currency }} to {{ contributor.item.user.displayName }}</a>
            <p ng-if="!contributor.item.user.cashtag"><span class="label label-alert">Missing Payment Method</span>{{ contributor.item.user.displayName }} has not entered the payment information (i.e. the Square Cashtag). Please resolve this issue by messaging or emailing the user.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-side-panel-section">
      <h4>Messages</h4>
      <div class="dashboard-side-panel-section-body">
        <up-message-channel channel="contributor.channelId" on-start="campaign.startChannel()" ng-init="contributor.findChannel()"/>
      </div>
    </div>

    <!-- section: short bio -->
    <div class="dashboard-side-panel-section" ng-if="contributor.item.user.description">
      <h4>Short Bio</h4>
      <div class="dashboard-side-panel-section-body">
        <div class="dashboard-side-panel-paragraph">{{ contributor.item.user.description }}</div>
      </div>
    </div>

    <!-- section: reach -->
<!--     <div class="dashboard-side-panel-section">
      <h4>Social Reach<span class="total-reach">203,943</span></h4>
      <div class="dashboard-side-panel-section-body">
        <div class="dashboard-side-panel-fineprint">Social Reach is a great indicator of the user's potential impact on promoting your product.</div>
        <div class="sproutup-table">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/youtube.png"></td>
                <td><a href="#" target="_blank">YouTube</a></td>
                <td class="request-reach">67,392</td>
              </tr>
              <tr>
                <td class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/twitter.png"></td>
                <td><a href="#" target="_blank">Twitter</a></td>
                <td class="request-reach">27,392</td>
              </tr>
              <tr>
                <td class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/instagram.png"></td>
                <td><a href="#" target="_blank">Instagram</a></td>
                <td class="request-reach">97,392</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->

    <!-- section: track record -->
    <!-- <div class="dashboard-side-panel-section">
      <h4>Track Record</h4>
      <div class="dashboard-side-panel-section-body">
        <div class="dashboard-side-panel-fineprint">Below are previous contributions from Kevin the Tech Ninja.</div>
        <div class="sproutup-table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th class="stat-col-header"><a href="#" uib-popover="Number of times people view this content" popover-trigger="mouseenter">Impressions</a><sup><i class="fa fa-question-circle"></i></sup></th>
                <th class="stat-col-header"><a href="#" uib-popover="Number of referral page visits this content has generated." popover-trigger="mouseenter">Conversion</a><sup><i class="fa fa-question-circle"></i></sup></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/youtube.png"></td>
                <td><a href="#" target="_blank">Parrot Bebop Review</a></td>
                <td class="stat-col-data">27,392</td>
                <td class="stat-col-data">1,293</td>
              </tr>
              <tr>
                <td class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/youtube.png"></td>
                <td><a href="#" target="_blank">Boosted First Experience</a></td>
                <td class="stat-col-data">27,392</td>
                <td class="stat-col-data">1,293</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
</div>
