<h1 class="dashboard-section-title" ng-init="vm.findOne()"><a ui-sref="user.product.list-mock"><i class="fa fa-angle-left"></i></a>Edit Campaign</h1>
<div class="create-product-wrapper">
	<div class="row">
        <div class="col-sm-12 form-input-group">
        	<p class="input-group-title">Basic Information</p>
            <input type="text" class="form-control form-input" placeholder="Name of this product">
            <input type="text" class="form-control form-input" placeholder="Select a category">
            <input type="url" class="form-control form-input" placeholder="URL of this product">
            <input type="url" class="form-control form-input" placeholder="URL of an awesome product video">
        </div>
        <div class="col-sm-12 form-input-group">
        	<p class="input-group-title"></p>
            <textarea class="form-control form-input-textarea" placeholder="Tell users more about this product. What are the cool features? What's the story behind this product?" ng-model="vm.campaign.description"></textarea>
        </div>
        <div class="col-sm-12 form-input-group">
        	<a class="btn btn-lg sproutup-btn-md-main" href="#" ng-click="vm.update()">Save</a>
        	<a class="btn btn-lg sproutup-btn-md-main cancel" href="#" ng-click="vm.findOne()">Cancel</a>
        	<a class="btn btn-lg sproutup-btn-md-main trash" href="#" ng-click="vm.remove(vm.campaign)"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</div>