<h1 class="dashboard-section-title" ng-init="vm.find()"><i class="fa fa-tags"></i>Campaigns
  <div class="dashboard-menu-top">
    <a class="dashboard-menu-top-item" ng-repeat="item in vm.menu.items | orderBy: 'position'" ui-sref="{{item.state}}" ng-if="item.shouldRender(company.authentication.user);" ng-switch="item.type" ng-class="{ active: company.state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}} nav-item-wrapper nav-item-main" dropdown="item.type === 'dropdown'">
      {{item.title}}
    </a>
  </div>
</h1>

<div class="campaign-list-wrapper">
  <ul class="list-inline">
    <li class="campaign-item-wrapper" ng-repeat="campaign in vm.campaigns | filter: {status: 1}: vm.returnMatch">
      <div class="header">Ongoing sicne Feb 10, 2016</div>
      <div class="type-icon"><img src="modules/theme/client/img/trial.png"></div>
      <div class="title">{{ campaign.name }}</div>
      <div class="action"><button ui-sref="company.navbar.campaign.trial.view.requests({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">View Details</button></div>
    </li>
    <li class="campaign-item-wrapper new-campaign">
      <button ui-sref="company.navbar.template.select"><span>+</span>Create New Campaign</button>
    </li>
  </ul>
</div>
<div class="campaign-list-wrapper draft">
  <h4>Drafts</h4>
  <div class="sproutup-table table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Campaign</th>
          <th>Created by</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="campaign in vm.campaigns | filter: {status: 0}">
          <td class="campaign-title">
            <div>{{campaign.name}}<sup ng-class="campaign.type" class="label label-campaign">{{campaign.type}}</sup></div>
            <div class="schedule-time">Edited on Feb 18, 2016 at 5:06 pm</div>
          </td>
          <td>Me</td>
          <td class="campaign-actions">
            <button ui-sref="company.navbar.campaign.edit-trial({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">Edit Campaign</button>
            <button class="btn sproutup-btn-sm minimal">Discard</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="campaign-list-wrapper active">
  <h4><i class="fa fa-spinner fa-spin"></i>Active Campaigns</h4>
  <div class="sproutup-table table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Campaign</th>
          <th>Impressions</th>
          <th>Engagements</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="campaign in vm.campaigns | filter: {status: 1}: vm.returnMatch">
          <td class="campaign-title">
            <div>{{ campaign.name }}<sup ng-class="campaign.type" class="label label-campaign">{{ campaign.type }}</sup></div>
            <div class="schedule-time">15 Jun 2015 - Ongoing</div>
          </td>
          <td class="campaign-kpi">42.3k</td>
          <td class="campaign-kpi">11</td>
          <td>
            <button ui-sref="company.navbar.campaign.trial.view.requests({ campaignId: campaign.id })" class="btn sproutup-btn-xs">View Details</button>
            <button class="btn sproutup-btn-xs">Share</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <div class="campaign-list-wrapper past" ng-if="!{{ vm.campaigns | filter: { status: -1 }: vm.returnMatch }}">
    <h4>Completed</h4>
    <div class="sproutup-table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Campaign</th>
            <th>Impressions</th>
            <th>Engagements</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="campaign in vm.campaigns | filter: {status: -1}: vm.returnMatch">
            <td class="campaign-title">
              <div>{{ campaign.name }}<sup ng-class="campaign.type" class="label label-campaign">{{ campaign.type }}</sup></div>
              <div class="schedule-time">15 Jun 2015 - 30 Jun 2015</div>
            </td>
            <td class="campaign-kpi">42.3k</td>
            <td class="campaign-kpi">11</td>
            <td class="campaign-actions">
              <button ui-sref="company.navbar.campaign.trial.view.requests({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">View Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
