<h1 class="dashboard-section-title" ng-init="vm.find()"><i class="fa fa-bullhorn"></i>Campaigns
  <div class="dashboard-menu-top">
    <a class="dashboard-menu-top-item" ng-repeat="item in vm.menu.items | orderBy: 'position'" ui-sref="{{item.state}}" ng-if="item.shouldRender(company.authentication.user);" ng-switch="item.type" ng-class="{ active: company.state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}} nav-item-wrapper nav-item-main" dropdown="item.type === 'dropdown'">
      {{item.title}}
    </a>
  </div>
</h1>

<div ng-if="vm.campaigns.length == 0">
  <div class="row">
    <div class="col-sm-12">
      <div class="empty-state-wrapper">
        <img class="img-center" src="modules/core/client/img/icon-campaign.png">
        <h2>Launch campaigns. Engage customers. Grow business.</h2>
        <p>Looking for beta-testers, tech reviewers, lifestyle trendsetters, or comedic personalities on social media? We've built tools just for you.</p>
        <button analytics-on="click" analytics-event="Start New Campaign" ui-sref="slug.company.navbar.template.select" class="btn btn-lg sproutup-btn-lg-main orange">GET STARTED</button>
        <div class="row campaign-onboarding-wrapper">
          <div class="col-sm-4">
            <div class="icon"><i class="fa fa-clock-o"></i></div>
            <div class="tagline">Create a campaign in minutes</div>
          </div>
          <div class="col-sm-4">
            <div class="icon"><i class="fa fa-users"></i></div>
            <div class="tagline">Match up with right influencers</div>
          </div>
          <div class="col-sm-4">
            <div class="icon"><i class="fa fa-line-chart"></i></div>
            <div class="tagline">Track campaign results</div>
          </div>
        </div>
        <p>Want to see some examples? Check out live campaigns <a href="https://beta.sproutup.co/discover" target="_blank">here</a>.</p>
      </div>
    </div>
  </div>
</div>

<div ng-if="vm.campaigns.length > 0">
  <div class="campaign-list-wrapper">
    <ul class="list-inline">
      <li class="campaign-item-wrapper" ng-repeat="campaign in vm.campaigns | orderBy: '-started' | filter: {status: 1}: vm.atLeast">
        <div class="header" ng-style="{'background-image': 'url({{ campaign.banner.file.url || 'modules/core/client/img/default-campaign-banner.jpg' }})'}">
          <span ng-if="campaign.started">Ongoing since {{campaign.started | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'}}</span>
        </div>
        <div class="type-icon"><img src="modules/theme/client/img/trial.png"></div>
        <div class="title">{{ campaign.name | limitTo: 40 }}{{ campaign.name.length < 40 ? '' : '...' }}</div>
        <div class="action">
          <button analytics-on="click" analytics-event="View Active Campaign Activities" analytics-campaignName="{{ campaign.name }}" analytics-campaignId="{{ campaign.id }}" analytics-campaignHashtag="{{ campaign.hashtag }}" ui-sref="slug.company.navbar.campaign.view.default({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">View Activities</button>
          <button analytics-on="click" analytics-event="Edit Active Campaign" analytics-campaignName="{{ campaign.name }}" analytics-campaignId="{{ campaign.id }}" analytics-campaignHashtag="{{ campaign.hashtag }}" ui-sref="slug.company.navbar.campaign.edit.default({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">Edit</button>
        </div>
      </li>
      <li class="campaign-item-wrapper new-campaign">
        <button analytics-on="click" analytics-event="Create New Campaign" ui-sref="slug.company.navbar.template.select"><span>+</span>Start New Campaign</button>
      </li>
    </ul>
  </div>

  <!-- Draft campaigns -->
  <div class="campaign-list-wrapper draft" ng-show="filteredDrafts.length > 0">
    <h4>Drafts</h4>
    <div class="sproutup-table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Campaign</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="campaign in vm.campaigns | orderBy: '-updated' | filter: {status: 0}: vm.returnDrafts as filteredDrafts">
            <td class="campaign-type-icon"><img src="modules/theme/client/img/trial-edit.png"></td>
            <td class="campaign-title">
              <div>{{campaign.name}}</div>
              <div class="schedule-time" ng-if="campaign.updated">Edited on {{campaign.updated | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'}}</div>
            </td>
            <td class="campaign-actions">
            <button analytics-on="click" analytics-event="Edit Draft Campagin" analytics-campaignName="{{ campaign.name }}" analytics-campaignId="{{ campaign.id }}" analytics-campaignHashtag="{{ campaign.hashtag }}" ui-sref="slug.company.navbar.campaign.edit.default({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">Edit Campaign</button>
              <!-- TODO: add discard button later -->
              <!-- <button class="btn sproutup-btn-sm minimal">Discard</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Complete Campaigns -->
  <div class="campaign-list-wrapper past" ng-show="filteredItems.length > 0">
    <h4>Completed</h4>
    <div class="sproutup-table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Campaign</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="campaign in vm.campaigns | orderBy: '-ended' | filter: {status: -5}: vm.returnMatch as filteredItems">
            <td class="campaign-type-icon"><img src="modules/theme/client/img/trial-completed.png"></td>
            <td class="campaign-title">
              <div>{{ campaign.name }}</div>
              <div class="schedule-time" ng-if="campaign.started && campaign.ended">{{campaign.started | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'}} - {{campaign.ended | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'}}</div>
            </td>
            <td class="campaign-actions">
              <button analytics-on="click" analytics-event="View Completed Campaign Activities" analytics-campaignName="{{ campaign.name }}" analytics-campaignId="{{ campaign.id }}" analytics-campaignHashtag="{{ campaign.hashtag }}" ui-sref="slug.company.navbar.campaign.view.default({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">View Report</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
