<h1 class="dashboard-section-title" ng-init="vm.find()"><i class="fa fa-bullhorn"></i>Campaigns
  <div class="dashboard-menu-top">
    <a class="dashboard-menu-top-item" ng-repeat="item in vm.menu.items | orderBy: 'position'" ui-sref="{{item.state}}" ng-if="item.shouldRender(company.authentication.user);" ng-switch="item.type" ng-class="{ active: company.state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}} nav-item-wrapper nav-item-main" dropdown="item.type === 'dropdown'">
      {{item.title}}
    </a>
  </div>
</h1>

<div ng-if="vm.campaigns.length == 0">
  <div class="row">
    <div class="col-sm-12">
      <div class="empty-state-wrapper">
        <img class="img-center" src="modules/core/client/img/icon-campaign.png">
        <h2>Launch beautiful campaigns. Grow your business.</h2>
        <p>Launching a new product? Looking for beta testers? Engaging new and existing users? We've built a campaign tool just for you. Starting a campaign in minutes with a template carefully drafted by our creative marketing experts.</p>
        <button ui-sref="slug.company.navbar.template.select" class="btn btn-lg sproutup-btn-md-main orange">Create New Campaign</button>
        <div class="row campaign-template-list">
          <h3>Launch beautiful campaigns, and you're in good company!</h3>
          <div class="col-md-3 col-sm-6 campaign-template-item">
            <a ui-sref="slug.company.navbar.template.select">
              <img class="img-responsive" src="modules/core/client/img/campaign/template-trial.jpg">
            </a>
            <div class="campaign-template-item-info">
              <div class="template-title">New Product Launch</div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 campaign-template-item">
            <a ui-sref="slug.company.navbar.template.select">
              <img class="img-responsive" src="modules/core/client/img/campaign/template-video-contest.jpg">
            </a>
            <div class="campaign-template-item-info">
              <div class="template-title">Video Contest</div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 campaign-template-item">
            <a ui-sref="slug.company.navbar.template.select">
              <img class="img-responsive" src="modules/core/client/img/campaign/template-instagram-contest.jpg">
            </a>
            <div class="campaign-template-item-info">
              <div class="template-title">Instagram Contest</div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 campaign-template-item">
            <a ui-sref="slug.company.navbar.template.select">
              <img class="img-responsive" src="modules/core/client/img/campaign/template-openidea.jpg">
            </a>
            <div class="campaign-template-item-info">
              <div class="template-title">Hunt New Ideas</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="vm.campaigns.length > 0">
  <div class="campaign-list-wrapper">
    <ul class="list-inline">
      <li class="campaign-item-wrapper" ng-repeat="campaign in vm.campaigns | orderBy: '-started' | filter: {status: 1}: vm.returnMatch">
        <div class="header" ng-style="{'background-image': 'url({{ campaign.banner.file.url || 'modules/core/client/img/default-product-banner.jpg' }})'}">
          <span ng-if="campaign.started">Ongoing since {{campaign.started | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'}}</span>
        </div>
        <div class="type-icon"><img src="modules/theme/client/img/trial.png"></div>
        <div class="title">{{ campaign.name | limitTo: 40 }}{{ campaign.name.length < 40 ? '' : '...' }}</div>
        <div class="action">
          <button ui-sref="slug.company.navbar.campaign.view.default({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">View Details</button>
          <button ui-sref="slug.company.navbar.campaign.edit.default({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">Edit</button>
        </div>
      </li>
      <li class="campaign-item-wrapper new-campaign">
        <button ui-sref="slug.company.navbar.template.select"><span>+</span>Create New Campaign</button>
      </li>
    </ul>
  </div>

  <!-- Draft campaigns -->
  <div class="campaign-list-wrapper draft">
    <h4>Drafts</h4>
    <div class="sproutup-table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Campaign</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="campaign in vm.campaigns | orderBy: '-updated' | filter: {status: 0}: vm.returnMatch">
            <td class="campaign-type-icon"><img src="modules/theme/client/img/trial-edit.png"></td>
            <td class="campaign-title">
              <div>{{campaign.name}}</div>
              <div class="schedule-time" ng-if="campaign.updated">Edited on {{campaign.updated | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'}}</div>
            </td>
            <td class="campaign-actions">
            <button ui-sref="slug.company.navbar.campaign.edit.default({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">Edit Campaign</button>
              <!-- TODO: add discard button later -->
              <!-- <button class="btn sproutup-btn-sm minimal">Discard</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Complete Campaigns -->
  <div class="campaign-list-wrapper past" ng-show="filteredItems.length > 0">
    <h4>Completed</h4>
    <div class="sproutup-table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Campaign</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="campaign in vm.campaigns | orderBy: '-ended' | filter: {status: -1}: vm.returnMatch as filteredItems">
            <td class="campaign-type-icon"><img src="modules/theme/client/img/trial-completed.png"></td>
            <td class="campaign-title">
              <div>{{ campaign.name }}</div>
              <div class="schedule-time" ng-if="campaign.started && campaign.ended">{{campaign.started | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'}} - {{campaign.ended | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'}}</div>
            </td>
            <td class="campaign-actions">
              <button ui-sref="slug.company.navbar.campaign.view.default({ campaignId: campaign.id })" class="btn sproutup-btn-sm minimal">View Report</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
