<div class="row">
	<div class="product-list-header" ng-if="vm.company">
	    <h1>Welcome, <span>{{ vm.company.name }}</span>! Below are your live campaigns on SproutUp.</h1>
	</div>
	<div class="product-list-wrapper">
		<div class="col-sm-6 product-list-item" ng-repeat="campaign in vm.campaigns">
			<a ui-sref="company.campaign({ companyId: vm.company.id, campaignId: campaign.id })">
				<div class="product-list-item-banner" style="background-image: url('{{ campaign.product.image }}');">
					<p class="campaign-type">{{ campaign.type }}</p>
					<p class="product-name">{{ campaign.product.name }}</p>
				</div>
			</a>
		</div>
	</div>
</div>