<section ng-init="vm.find()">
  <div class="row select-company-wrapper">
    <div class="col-sm-12" ng-if="vm.companies.$resolved && vm.companies.length > 0">
      <h3>Please select a company to see your dashboard</h3>
      <a href="#" class="company-selector" ng-repeat="item in vm.companies" ng-click="vm.select(item)">
        <div class="create-campaign-banner company-profile-banner" style="background-image: url('modules/core/client/img/default-campaign-banner.jpg');">
          <h1 ng-bind="item.name"></h1>
          <h2 ng-bind="item.url"></h2>
        </div>
      </a>
      <h4>If you run marketing for more than one companies, please add more here.</h4>
      <button class="btn sproutup-btn-lg-main" ui-sref="authentication.create-company">Add a company</button>
    </div>
    <div class="empty-state-wrapper" ng-if="vm.companies.$resolved && vm.companies.length < 1">
      <h2>You haven't added any company yet</h2>
      <p>To start using SproutUp in a meaningful way, why don't you <a ui-sref="authentication.create-company">add a company</a> today?</p>
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/no-activities.gif">
    </div>
  </div>
</section>
