<section ng-init="vm.find()">
  <h1 class="dashboard-section-title">
    <i class="fa fa-exchange"></i>Switch Company
  </h1>
  <div class="row dashboard-body-wrapper">
    <div class="col-sm-12">
      <div class="dashboard-body-header">
        <div class="dashboard-body-title">Click and switch to another company</div>
      </div>
      <a class="company-selector" ng-repeat="item in vm.companies" ng-click="vm.select(item)">
        <div class="create-campaign-banner company-profile-banner" style="background-image: url('{{ item.banner.file.url || 'https://s3.amazonaws.com/images.mentor.com/News/DSC_6084.jpg' }}');">
          <h1 ng-bind="item.name"></h1>
          <h2 ng-bind="item.url"></h2>
        </div>
      </a>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.companies.$resolved && !vm.companies.length">
    No companies yet, why don't you <a ui-sref="companies.create">create one</a>?
  </div>
</section>
