<div class="auth-header">
    <div class="text-center">
      <img class="auth-header-logo" src="modules/core/client/img/logo-square.png">
    </div>
</div>

<div class="row">

    <div class="signup-login-header">
        <h1>Reset link has been sent</h1>
        <h2>Password reset link has been sent to <span>tao.ni.81@gmail.com</span>. If you don't see it, please check your spam and junk filters.</h2>
    </div>

    <hr>
    
    <div class="signup-login-area">
        <!-- footer -->
        <div class="signup-login-form-footer">
          <p>Don't have a SproutUp account? <a ui-sref="authentication.signup">Sign up</a> today.<p>
        </div>
    </div>
</div>