<h1 class="dashboard-section-title">
  <i class="fa fa-commenting-o"></i>Messages
</h1>

<div class="row dashboard-body-wrapper" ng-init="messageCtrl.listMyChannels()">
  <div class="col-sm-12">
    <div class="empty-state-wrapper" ng-if="messageCtrl.channels.length == 0">
      <h2>No messages sent or received</h2>
      <p>Your conversations will show up once you start to talk with someone.</p>
      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/no-message.gif">
    </div>
  </div>
</div>

<div class="row dashboard-body-wrapper messages">
  <!-- <div class="col-sm-2">
    <div class="list-group">
      <a ui-sref="slug.company.navbar.conversation.list" class="list-group-item current">All</a>
    </div>
  </div> -->
  <!-- Content -->
  <div class="col-sm-12">
    <ul class="list-conversation-thread">
      <li class="unread" ng-repeat="channel in messageCtrl.channels">
        <a ui-sref="slug.company.navbar.conversation.view({channelId: channel.id})">
          <div class="sproutup-table messages">
            <table class="table">
              <tbody>
                <tr>
                  <td class="photo">
                    <img class="img-center" up-avatar="channel.members[channel.last.userId].user" width="50" height="50">
                  </td>
                  <td>
                    <div class="name" ng-if="channel.last.userId !== vm.authentication.user.id" ng-bind="channel.members[channel.last.userId].user.displayName"></div>
                    <div class="name" ng-if="channel.last.userId === vm.authentication.user.id">Me<span><i class="fa fa-share"></i></span></div>
                    <div class="text" ng-bind="(channel.last.body | limitTo: 140) + (channel.last.body.length < 140 ? '' : '...')"></div>
                  </td>
                  <td class="time"><span am-time-ago="channel.last.created"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
