<div class="message-body" ng-init="vm.load()">
  <div class="message-blurb inbound">
    <div class="sender">Chris Sacca<span class="time">2 days ago</span></div>
    <div class="content">Thanks a lot! I am stoked to try this product!</div>
  </div>
  <div class="message-blurb outbound">
    <div class="sender">Me<span class="time">1 hour ago</span></div>
    <div class="content">Word!! Super excited. Look forward to it!</div>
  </div>
  <div class="message-blurb inbound">
    <div class="sender">Chris Sacca<span class="time">1 hour ago</span></div>
    <div class="content">Thanks a lot! I am stoked to try this product!</div>
  </div>
  <div class="message-blurb outbound">
    <div class="sender">Me<span class="time">2 days ago</span></div>
    <div class="content">Nice to meet you Kevin! I really love your profile! Are you interested in trying it out?</div>
  </div>
  <div class="message-blurb inbound">
    <div class="sender">Chris Sacca<span class="time">2 days ago</span></div>
    <div class="content">Thanks a lot! I am stoked to try this product!</div>
  </div>
  <div class="message-blurb outbound">
    <div class="sender">Me<span class="time">1 hour ago</span></div>
    <div class="content">Word!! Super excited. Look forward to it!</div>
  </div>
  <div class="message-blurb inbound">
    <div class="sender">Chris Sacca<span class="time">1 hour ago</span></div>
    <div class="content">Thanks a lot! I am stoked to try this product!</div>
  </div>
  <div class="message-blurb outbound">
    <div class="sender">Me<span class="time">2 days ago</span></div>
    <div class="content">Nice to meet you Kevin! I really love your profile! Are you interested in trying it out?</div>
  </div>
  <div class="message-blurb inbound">
    <div class="sender">Chris Sacca<span class="time">2 days ago</span></div>
    <div class="content">Thanks a lot! I am stoked to try this product!</div>
  </div>
  <div class="message-blurb outbound">
    <div class="sender">Me<span class="time">1 hour ago</span></div>
    <div class="content">Word!! Super excited. Look forward to it!</div>
  </div>
  <div class="message-blurb inbound">
    <div class="sender">Chris Sacca<span class="time">1 hour ago</span></div>
    <div class="content">Thanks a lot! I am stoked to try this product!</div>
  </div>
  <div class="message-blurb outbound">
    <div class="sender">Elon Musk<span class="spacer">&#183;</span>SpaceX<span class="time">5 minutes ago</span></div>
    <div class="content">Hello Chris! Great to see you here.</div>
  </div>
</div>
<div class="message-footer">
  <textarea ng-model="vm.body" class="form-control form-input-textarea sm" placeholder="If you have any questions, you can message the user here."></textarea>
  <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.send()">Send message</button>
</div>
