@import "global";

html {
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: hidden;
}
body {
  letter-spacing: 0.2pt;
  font-size: 14px !important;
  font-family: "lato", Helvetica, Arial, sans-serif;
}

.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}

.creator-menu {
  min-width: 195px;
  height: 100%;
  position: fixed;
  border-right: 1px solid #bfbfbf;
  top: 0px;
  left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @sproutup-dark-grey;
  color: white !important;
}

.menu-item {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  margin: 30px 20px;
  display: block;
}

.menu-item.overview {
  background-image: url('/modules/core/client/img/home.png');
}

.menu-item.timeline {
  background-image: url('/modules/core/client/img/lightning.png');
}

.menu-item.community {
  background-image: url('/modules/core/client/img/community.png');
}

.menu-item.content {
  background-image: url('/modules/core/client/img/content.png');
}

.menu-item.engagement {
  background-image: url('/modules/core/client/img/engagement.png');
}

.menu-item.social {
  background-image: url('/modules/core/client/img/social.png');
}

.menu-link {
  width: 25px;
  height: 25px;
}

.header-wrapper {
  border-bottom: 1px solid @sproutup-grey;
  position: relative;
  right: 85px;
  padding-left: 85px;
  padding-top: 38px;
  margin-right: -230px;
  padding-right: 230px;
}

.header-title {
  font-size: 18pt;
  font-weight: 200;
}

.header-wrapper .stat-text {
  padding: 7px;
}

.header-wrapper .first {
  padding-left: 0px
}

.header-stats {
  margin-bottom: 8px;
  margin-top: 52px;
}

.chart-container {
  width: 486px;
  height: 243px;
  margin-left: auto;
  margin-right: auto;
}

.line-legend {
  padding-top: 15px;
}

.line-chart {
  margin-bottom: 120px;
}

.line-chart .chart-container {
  width: 580px;
}

.overview-main-stat {
  text-align: center;
  margin-top: 55px;
  font-weight: 800;
}

.overview-card-wrapper {
  margin-left: 185px;
}

.overview-card {
  height: 300px;
  width: 300px;
  background-color: aliceblue;
  border: 1px solid;
  padding: 20px;
  margin-right: 45px;
  margin-bottom: 45px;
  display: inline-block;
  position: relative;
}

.overview-chart-wrapper {
  position: relative;
  width: 100%;
  left: 0px;
  bottom: 10px;
  height: 100%;
}

.overview-chart-wrapper .chart-container {
   width: 243px;
   height: 121px;
   margin-left: 0px;
   padding-left: 0px;
}

.overview-card img {
  position: relative;
  width: 25px;
  height: 25px;
}

.overview-card-stats-wrapper {
  width: 298px;
  height: 80px;
  margin-left: -20px;
  padding-top: 19px;
  position: relative;
  top: 173px;
  background-color: @sproutup-blue;
}

.overview-card-title {
  padding-left: 10px;
  font-size: 11pt;
  font-weight: 600;
}

.card-stat {
  text-align: center;
  color: white;
}

.card-stat div:first-child {
  font-size: 12pt;
  font-weight: 500;
  letter-spacing: 4
}

.card-stat div:nth-child(2) {
  font-size: 9pt;
  font-weight: 100;
  letter-spacing: .7pt;
}

.dashboard-container {
  margin: 30px 30px 30px 235px;
}

.content-table-icon {
  width: 35px;
}

.content-table th {
  height: 50px;
  color: @sproutup-grey;
}

.content-table td {
  font-size: 13pt;
  font-weight: 500;
}

.content-table tbody tr {
  border-bottom: 1px solid @sproutup-grey;
  height: 65px;
}

.content-table tbody tr:last-child {
  border-bottom: none;
}

.content-table th, .content-table td {
  text-align: center;
}

.content-table th:nth-child(2), .content-table td:nth-child(2) {
  text-align: left !important;
}

.content-table td:nth-child(2) {
  padding: 10px 10px 10px 16px;
}

.hours-watched {
  min-width: 140px;
}

.content-table-icon.youtube {
  width: 30px;
}

.content-table-icon.blog {
  width: 27px;
  margin-left: 4px;
}

.timeline-wrapper {
  position: relative;
  border-left: 18px solid @sproutup-lightgrey;
  margin-left: 50px;
  padding-bottom: 30px;
}

.event-circle {
  position: absolute;
  left: -29.5px;
  top: 30px;
  width: 40px;
  height: 40px;
  background-color: @sproutup-lightgrey;
  text-align: center;
  border-radius: 50%;
}

.event-circle img {
  width: 50%;
  margin-top: 9px;
}

.event-time {
  position: absolute;
  left: -125px;
  top: 39px;
  width: 85px;
  text-align: right;
  font-weight: 700;
  letter-spacing: 0.3pt;
}

.event-info {
  position: relative;
  top: 25px;
  height: 100%;
}

.event-info div {
  top: -34px;
  left: 113px;
  position: relative;
}

.event-info img {
  width: 50px;
  border-radius: 50%;
  left: 48px;
  position: relative;
}

.requests-wrapper {
  text-align: center;
}

.requests-wrapper .chart-container {
  width: 680px;
  height: 340px;
  margin-top: -10px;
}

.requests-wrapper div:first-child {
  margin-top: 70px;
  font-size: 14pt;
}

.requests-wrapper div:nth-child(2) {
  text-align: center;
  position: relative;
  top: 188px;
  font-size: 28pt;
}

.requests-wrapper div:nth-child(3) {
  position: relative;
  top: 183px;
}


.progress {
  background-color: white;
  border: 1px solid @main-text-white;
  border-radius: 20px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  height: 12px;
  margin: 90px 10px 0px;
  overflow: hidden;
}

.progress-bar {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  background-color: @sproutup-blue;
  background-image: none;
  float: left;
  height: 100%;
  -webkit-transition: width 0.6s ease 0s;
  -moz-transition: width 0.6s ease 0s;
  -ms-transition: width 0.6s ease 0s;
  -o-transition: width 0.6s ease 0s;
  transition: width 0.6s ease 0s;
  width: 0;
}

.active-trial-status {
  position: relative;
  width: 100%;
  max-width: 120px;
  height: 20px;
  text-align: center;
  font-size: 8pt;
  font-weight: 700;
  background-color: #ECEAEA;
  opacity: .95;
  float: right;
  top: 30px;
  margin-right: 120px;
}

.active-trial-status.my-trials {
    background-color: white;
    width: 90% !important;
    max-width: 400px !important;
    margin-left: 20px;
}

.active-trial-status.bar {
    width: 40px;
    background-color: @sproutup-blue;
    opacity: .4;
    position: absolute;
    top: 0px;
}

.active-trial-status span {
    color: @sproutup-blue;
    position: relative;
    top: 2px;
}

.days-left-bar {
    border-radius: 0px !important;
    height: 20px !important;
    margin: 0px !important;
    width: 100%;
    position: absolute;
    border: none !important;
    opacity: .25;
}

.days-left-bar div {
    float: right !important;
}

.trial-overdue div {
    background-color: @sproutup-red !important;
}

.trial-overdue {
    color: @sproutup-red !important;
}

.trial-user-avatar {
  width: 60px;
  border-radius: 50%;
  margin-right: 30px;
}

.user-socials img {
  width: 35px;
}

.user-socials {
  position: relative;
  top: 12px !important;
}

.user-socials span {
  margin-right: 12px;
}

.user-socials .youtube {
  width: 27px;
  margin-right: 5px;
}

.trial-user-info-wrapper {
  display: inline-block;
}

.trial-user-name {
  position: relative;
  top: 10px !important;
  left: 4px;
}

.product-trial-stage-user {
  margin: 35px 0px;
}

.product-trial-stage-user .content-table {
  margin-top: 20px;
  margin-right: 120px;
}

.product-trial-stage-user .content-table th {
    height: 35px;
}

.ambassador-wrapper {
  margin: 25px 0px;
  display: inline-block;
}

.video-mock {
  width: 80%;
  margin-top: 40px;
  max-width: 780px;
}

.header-stats a {
  color: @sproutup-dark-grey;
}

.header-stats a:hover, .header-stats a:focus {
  color: @sproutup-blue;
  text-decoration: none;
}

.header-stats .active,  {
  color: @sproutup-blue;
  text-decoration: none;
}

.engagement-analytics-list {
  width: 180px;
  float: left;
  max-width: 20%;
}

.engagement-analytics-list div {
  border-bottom: 1px solid;
  padding-bottom: 1px;
  font-weight: 600;
  padding-left: 5px;
}

.engagement-analytics-list ul {
  padding-left: 0px;
}

.engagement-analytics-list li {
  margin-bottom: 4px;
  width: 100%;
  height: 30px;
  padding-top: 4.5px;
  padding-left: 7px;
}

.engagement-analytics-list li:hover {
  cursor: pointer;
}

.engagement-analytics-list .active {
  background-color: #E3EDF1;
}

.demographic-table {
  margin-left: 25%;
  width: 60%;
}

.demographic-table tr:first-child {
  border-bottom: 1px solid;
  padding-bottom: 2px;
  height: 21px;
}

.demographic-table tr {
  margin-right: -15px;
  margin-left: -15px;
  height: 35px;
  border-bottom: 1px solid @sproutup-lightgrey;
  min-width: 50%;
}

.demographic-table .col-md-8 {
  text-align: right;
}

.twitter-tweet {
  position: relative;
  border: 1px solid @sproutup-grey;
  padding: 10px 15px;
  width: 500px;
  border-radius: 5px;
  margin: 30px 0px;
}

.tweet-date {
  position: absolute;
  right: 10px;
  top: 10px;
}

.Tweet-authorName {
  color: @sproutup-dark-grey;
  font-weight: 600;
  margin-right: 4px;
  margin-left: 4px;
}

.tweet-text {
  margin: 5px 0 2px 2px;
}

.Tweet-authorLink:hover {
  text-decoration: none !important;
}

.Tweet-authorScreenName:hover {
  text-decoration: underline;
}

.Tweet-authorAvatar img {
  width: 43px;
  border-radius: 5px;
  margin: 5px 0px;
}

.instagram-media {
  margin: 30px 0px;
}

.nav-item-wrapper {
  position: relative;
  margin-bottom: 15px;
  margin-left: 15px;
}

.nav-item-main {
  font-weight: 700;
  font-size: 11.5pt;
  margin-bottom: 30px;
}

.nav-item-main.active a {
  color: @main-text-white;
  text-decoration: none !important;
}

.nav-item-main a {
  color: @sproutup-grey;
  text-decoration: none !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.nav-item-main a:focus, .nav-item-main a:hover, .nav-item-main a:active {
  color: @main-text-white;
}

.nav-head {
  padding-top: 30px;
}

.nav-section {
  border-top: 1px solid #5F5F5F;
  margin-top: 40px;
  padding-top: 30px; 
}

.creator-user a {
  font-weight: 400;
  font-size: 10pt;
  color: @main-text-white;
  text-decoration: none !important;
}

.creator-user a img {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.creator-name i {
  padding-left: 12px;
}

.creator-company {
  font-weight: 700;
  font-size: 13pt;
  color: @main-text-white;
  text-decoration: none !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.creator-company:hover, .creator-company:active, .creator-company:focus {
  color: @main-text-white;
}

.auth-header {
  height: 80px;
}

.auth-header hr {
  border-top: 1px solid @sproutup-orange !important;
}

.auth-header-logo {
  width: 50px;
  height: 50px;
  margin: 15px auto 0px;
}

.signup-login-area {
    max-width: 480px;
    background-color: white;
    margin: 20px auto;
    padding: 0px;
}

.signup-login-header{
  max-width: 500px;
  margin: 0px auto;
  padding: 0px 15px;
  text-align: center;
}

.signup-login-message {
  max-width: 500px;
  margin: 0px auto 20px;
  padding: 0px 15px;
  text-align: center;  
}

.signup-login-header h1, .signup-login-message h1 {
  padding: 40px 10px 0px;
  margin: 0px;
  font-weight: 300;
  font-size: 15pt;
  color: @main-text;
  line-height: 1.5;
}

.signup-login-header h2 {
  padding: 15px 10px 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 11pt;
  color: @main-text-1;
  line-height: 1.5;
}

.signup-login-message h2 {
  padding: 15px 10px 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 11pt;
  color: @sproutup-salmon;
  line-height: 1.5;
}

.signup-login-header h2 span {
  font-weight: 700;
  color: @sproutup-green;
}

.signup-login-message h2 span {
  color: @sproutup-red;
  font-weight: 700;
}

.signup-company-name {
  font-size: 14pt;
  display: block;
  padding: 10px 0px;
}

.signup-login-form {
  padding: 15px 0 0;
}

.signup-login-input {
  border: 1px solid @form-border;
  width: 90%;
  height: 45px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  font-size: 11pt;
  font-weight: 400;
  color: @main-text;
}

.signup-login-btn {
  width: 90%;
  height: 45px;
  margin: 5px 5%;
  font-weight: 400;
  font-size: 12pt;
  background-color: @sproutup-orange;
  color: white;
  border-radius: 2px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.signup-login-btn:hover,
.signup-login-btn:focus {
  color: white;
  background-color: @sproutup-orange-hover;
}

.signup-login-form--error-message {
  color: @sproutup-error-message;
  font-weight: 400;
  font-size: 10pt;
  margin: 0px 5%;
  padding-top: 0px;
  padding-bottom: 10px;
}

.signup-login-form--error-message i {
  padding-right: 5px;
}

.signup-login-form-header h1 {
  font-weight: 400;
  font-size: 11pt;
  margin: 0px 5% 10px;
  color: @main-text-1;
}

.signup-login-form-header h2 {
  font-weight: 400;
  font-size: 10pt;
  line-height: 1.5;
  margin: 0px 5%;
  color: @main-text-2;
}

.signup-agreement {
  padding: 10px 0px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.signup-agreement p {
  font-weight: 400;
  font-size: 11pt;
  color: @main-text;
  padding: 0px;
  margin: 0px;
}

.signup-agreement p a {
  color: @sproutup-orange;
}

.signup-login-form-footer {
  padding: 15px 0px 0px;
  margin-left: 5%;
  margin-right: 5%;
}

.signup-login-form-footer p {
  font-weight: 400;
  font-size: 11pt;
  color: @main-text;
  padding: 0px 0px 5px;
  margin: 0px;
  text-align: center;
}

.signup-login-form-footer p a {
  color: @sproutup-orange;
}

input::-moz-placeholder {
    color: @input-placeholder-text;
    opacity: 1;
}

input:-moz-placeholder {
    color: @input-placeholder-text;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: @input-placeholder-text;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: @input-placeholder-text;
    opacity: 1;
}

.form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: 1px solid @form-border;
}

.form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border-color: @sproutup-blue;
    outline: 0 !important;
}

.form-validate.ng-invalid.ng-touched {
    border: 1px solid @sproutup-error-message;
    color: @sproutup-orange;
}

.form-validate.ng-valid.ng-touched {
    border: 1px solid @sproutup-green;
}

// sproutup buttons
.sproutup-btn-lg-main {
    height: 50px;
    border: none;
    font-weight: 700;
    font-size: 11pt;
    color: white;
    background-color: @sproutup-blue;
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    margin: 0px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.sproutup-btn-lg-main.orange {
  color: white;
  background-color: @sproutup-orange;
}

.sproutup-btn-lg-main:hover {
    background-color: @sproutup-blue-hover;
    color: white;
}

.sproutup-btn-lg-main.orange:hover {
  color: white;
  background-color: @sproutup-orange-hover;
}

.form-input-group .sproutup-btn-md-main {
  margin-right: 8px;
}

.form-input-group .sproutup-btn-md-main.trash {
  margin: 0px;
}

.sproutup-btn-md-main {
  height: 45px;
  font-weight: 700;
  font-size: 11pt;
  background-color: @sproutup-blue;
  color: white;
  border-radius: 2px;
  padding-top: 11px;
  margin: 0px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.sproutup-btn-md-main:hover {
  color: white;
  background-color: @sproutup-blue-hover;
}

.sproutup-btn-md-main.cancel {
  color: @main-text-1;
  background-color: @sproutup-superlightgrey;
  border: 1px solid @sproutup-grey;
}

.sproutup-btn-md-main.cancel:hover {
  background-color: white;
}

.sproutup-btn-md-main.orange {
  color: white;
  background-color: @sproutup-orange;
}

.sproutup-btn-md-main.orange:hover {
  color: white;
  background-color: @sproutup-orange-hover;
}

.sproutup-btn-md-main i {
  padding-right: 12px;
}

.sproutup-btn-md-main.trash {
  width: 60px;
  float: right;
  font-size: 14pt;
  padding-top: 9px;
  color: white;
  background-color: @sproutup-orange;
}

.sproutup-btn-md-main.trash i {
  padding: 0px;
}

.sproutup-btn-md-main.trash:hover {
  background-color: @sproutup-orange-hover;
  color: white;
}

.legal-title {
    text-align: center;
    font-weight: 300;
    color: @sproutup-blue;
    font-size: 28pt;
    margin: 30px 10px;
}

.legal-content {
    text-align: left;
    margin: 20px auto;
    max-width: 850px;
    padding: 0px 20px;
}

.legal-content h2 {
    font-weight: 400;
    color: @main-text-2;
    font-size: 16pt;
    margin-top: 40px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.legal-content h2 i {
    color: @sproutup-green;
    padding-right: 15px;
}

.legal-content p {
    font-weight: 400;
    color: @main-text;
    font-size: 11pt;
    line-height: 1.6;
}

.legal-content p span {
    font-weight: 700;
}

.legal-content h3 {
    font-weight: 700;
    color: @main-text;
    font-size: 11pt;
}

.legal-content li {
    font-weight: 400;
    font-size: 11pt;
    margin-bottom: 10px;
    line-height: 1.6;
}

.subscription-table {
  margin: 0px auto;
  padding: 10px;
}

.subscription-table thead .subscribe-plan {
  color: @sproutup-blue !important;
  font-weight: 700 !important;
}

.subscription-table td form {
  margin-top: 10px;
}

.subscription-table th {
    color: @main-text-2;
    font-weight: 400;
    font-size: 11pt;
    padding: 10px !important;
}

.subscription-table td {
    color: @main-text;
    font-weight: 400;
    font-size: 11pt;
    padding: 15px 10px !important;
}

.subscription-table .leading-column {
    color: @main-text-2 !important;
    font-weight: 700 !important;
    font-size: 10.5pt;
}

.dashboard-product-banner {
  width: 100%;
  min-height: 560px;
  margin-top: 0px;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.dashboard-product-info-wrapper::before{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)); /* Standard syntax */
}

.dashboard-product-info-wrapper {
  padding-top: 150px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
}

.product-tagline {
  margin: 0px;
  padding: 0px 0px 60px;
}

.product-tagline p {
  font-weight: 400;
  font-size: 16pt;
}

.product-tagline p span {
  color: @sproutup-blue-bright;
}

.product-tagline h1 {
  font-weight: 100;
  font-size: 36pt;
}

.product-tagline h2 {
  font-weight: 400;
  font-size: 13pt;
  padding-top: 30px;
}

.dashboard-cta {
  padding: 0px;
  z-index: 5;
}

.dashboard-signup-input {
  border: 1px solid @form-border;
  width: 200px !important;
  height: 50px;
  margin: 0px;
  padding-left: 25px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 11pt;
  font-weight: 700 !important;
  color: @main-text;
}

.input-group-addon {
  padding: 6px 25px;
  font-size: 11pt;
  font-weight: 700;
  color: @main-text;
  text-align: center;
  background-color: white;
  border: 1px solid @form-border;  
  border-radius: 0px;
}

.dashboard-signup-message {
  margin: 40px auto 0px;
  max-width: 480px;
  padding: 0px 5px;
}

.dashboard-signup-message p {
  font-weight: 400;
  font-size: 10.5pt;
  color: @main-text-white;
  line-height: 1.5;
}

.preview-wrapper {
  max-width: 800px;
  margin: 30px auto;
  padding: 0px 10px;
}

.preview-wrapper hr {
  margin-bottom: 40px;
}

.preview-left-rail {
  padding: 0px 40px;
}

.preview-right-rail {
  padding: 0px 5px;
}

.preview-video {
  margin: 10px 0px 20px;
  background-color: #333;
  height: 100%;
  width: 100%;
  color: @main-text-white;
}

.preview-video.embedded {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.preview-video.embedded iframe,
.preview-video.embedded object,
.preview-video.embedded embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preview-toc {
  border-left: 4px solid @sproutup-lightgrey;
  padding: 12px 0px 12px 15px; //top, right, bottom, left
  font-weight: 400;
  font-size: 11pt;
  margin: 2px 0px;
  color: @main-text-1;
}

.preview-toc.active {
  border-left: 4px solid @sproutup-orange;
  color: @sproutup-orange;
  font-weight: 700;
}

.preview-section-header {
  font-weight: 300;
  font-size: 18pt;
  color: @main-text;
  margin: 0px 0px 15px;
  padding: 0px;
}

.preview-video-creator {
  margin: 0px 0px 25px;
  padding: 0px;
}

.preview-video-creator a {
  font-weight: 700;
  font-size: 10pt;
  color: @sproutup-orange;
}

.label-influencer {
  background-color: @sproutup-green;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 9.5pt;
  margin-left: 10px;
}

.label-campaign {
  padding: 8px 12px;
  font-weight: 700;
  font-size: 9pt;
}

.label-campaign-sm {
  padding: 8px 12px;
  font-weight: 700;
  font-size: 8pt; 
}

.label-campaign.product-trial {
  background-color: @sproutup-salmon;
}

.label-campaign.video-contest {
  background-color: @sproutup-green;
}

.preview-wrapper section {
  margin-bottom: 40px;
}

.preview-section-description {
  margin: 0px 0px 10px;
  padding: 0px;
  font-weight: 700;
  font-size: 12pt;
  color: @main-text-1;
}

.preview-section-footer {
  margin: 0px 0px 10px;
  padding: 0px;
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.5;
  color: @main-text-1; 
}

.preview-stats {
  font-weight: 300;
  font-size: 27pt;
  color: @sproutup-green;
}

.trial-user-list {
  padding: 15px 0px 30px;
}

.trial-user-img {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-right: 3px;
  border: 1px solid @sproutup-lightgrey;
}

.col-stats {
  padding: 0px 2px 4px;
}

.col-social {
  padding: 20px 3px 0px;
}

.stats-blurb {
  margin: 0px;
  padding: 20px;
}

.stats-blurb.impressions {
  background-color: @sproutup-blue;
}

.stats-blurb.engagements {
  background-color: @sproutup-green;
}

.stats-blurb.leads {
  background-color: @sproutup-orange;
}

.stats-blurb.conversion {
  background-color: @sproutup-lightpurple;
}

.stats-blurb h1 {
  padding: 0px;
  margin: 0px;
  font-size: 24pt;
  font-weight: 300;
  color: white;
}

.stats-blurb p {
  padding: 15px 0px 0px;
  margin: 0px;
  font-size: 13pt;
  font-weight: 400;
  color: white;
}

.social-quote {
  margin: 0px 0px 6px;
  padding: 20px;
  background-color: @sproutup-verylightgrey;
  border: 1px solid @twitter-blue;
}

.social-quote-content {
  font-weight: 400;
  font-size: 12.5pt;
  line-height: 1.5;
  color: @main-text;
}

.social-quote-time {
  font-weight: 400;
  font-size: 9pt;
  color: @main-text-2; 
  padding-bottom: 10px;
}

.social-quote-user-photo {
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 300px;
  margin-right: 20px;
}

.social-quote-user-twitter {
  font-weight: 700;
  font-size: 11pt;
  padding: 2px 0px 5px;
  margin: 0px;
}

.social-quote-user-twitter a {
  color: @twitter-blue;
  text-decoration: none !important;
}

.social-quote-user {
  color: @main-text-2;
  font-weight: 400;
  font-size: 11pt;
  padding: 0px;
  margin: 0px;
}

.content-container {
  width: 600px;
  margin: 70px auto 30px auto; 
}

.content-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.youtube-user {
  margin-top: 15px;
}

.youtube-username {
  font-size: 13pt;
  top: 2px;
  right: 10px;
  position: relative;
}

.youtube-video {
  width: 600px;
  height: 399px;
}

.stat-box {
  height: 180px;
  border-bottom: 1px solid @sproutup-grey;
  border-right: 1px solid @sproutup-grey;
  position: relative !important;
}

.stat-name {
  left: 16px;
  top: 13px;
  position: absolute;
  font-size: 10pt;
  font-weight: 800;
}

.stat-number {
  position: absolute;
  bottom: 13px;
  left: 16px;
  font-size: 19px;
  font-weight: 300;
}

.content-container table {
  width: 100% !important;
  border-top: 1px solid @sproutup-grey;
  border-left: 1px solid @sproutup-grey;
  margin-top: 30px;
}

.content-container td {
  float: left !important;
}

.content-container .chart-container {
  width: 55%;
  height: 22%;
  position: absolute;
  right: 17px;
  bottom: 70px;
}

.content-image {
  width: 100%;
}

.unstyled-link:hover, .unstyled-link:link, .unstyled-link:active, .unstyled-link:visited {
  color: #333;
  text-decoration: none;
  underline: none;
}

.campaign-list-wrapper {
  margin: 40px 0px;
  padding: 0px
}

.campaign-list-item {
  margin: 0px;
  padding: 0px 5px;
}

.campaign-list-item-banner {
  height: 300px;
  margin: 0px;
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.campaign-list-item-banner::after{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)); /* Standard syntax */
}

.campaign-list-header {
  max-width: 500px;
  margin: 0px auto;
  text-align: center;
}

.campaign-list-header h1 {
  padding: 40px 10px 0px;
  margin: 0px;
  font-weight: 300;
  font-size: 15pt;
  color: @main-text;
  line-height: 1.5;
}

.campaign-list-header h1 span {
  color: @sproutup-orange;
  font-weight: 700;
}

.campaign-type {
  margin: 15px;
  padding: 8px 16px;
  text-align: left;
  z-index: 10;
  position: absolute;
  font-weight: 700;
  font-size: 10pt;
  color: @main-text-white;
}

.campaign-type.product-trial {
  background-color: @sproutup-salmon;
}

.campaign-type.video-contest {
  background-color: @sproutup-green;
}

.campaign-name {
  margin: 0px;
  padding: 125px 0px 0px;
  text-align: center;
  z-index: 10;
  position: relative;
  font-weight: 400;
  font-size: 12pt;
  color: @main-text-white;
}

.product-table {
  margin-top: 25px;
  margin-right: 25px;
}

.settings-wrapper .product-table {
  margin-top: 15px;
  margin-right: 0px;
}

.product-table thead {
  background-color: @sproutup-verylightgrey;
}

.product-table thead tr th {
  padding: 20px;
  font-weight: 700;
  font-size: 11pt;
  color: @main-text-2;
}

.product-table tbody tr td {
  padding: 20px;
  font-weight: 400;
  font-size: 10pt;
  color: @main-text;
}

.product-table tbody tr:hover {
  background-color: @sproutup-table-hover;
}

.product-table .product-table-edit {
  padding-right: 0px;
}

.product-table tbody tr td a {
  color: @sproutup-blue;
  font-weight: 700;
}

.product-table tbody tr td a i {
  padding-right: 6px;
}

.product-table-header {
  font-weight: 700;
  font-size: 12pt;
  color: @main-text-1;
  padding-top: 0px;
  padding-bottom: 0px;
}

.product-table-header a {
  margin-left: 60px;
  color: @sproutup-blue;  
  font-size: 10pt;
}

.product-table-header a:hover {
  color: @sproutup-blue-hover;
}

.product-table-header a i {
  padding-right: 10px;
}

.dashboard-section-title {
  border-bottom: 1px solid @sproutup-grey;
  font-weight: 300;
  font-size: 14pt;
  padding-bottom: 15px;
  color: @main-text-1;
  margin-bottom: 20px;
}

.dashboard-section-title a {
  color: @sproutup-blue;
  padding-right: 15px;
  font-weight: 700;
}

.dashboard-section-title span {
  font-weight: 400;
}

.dashboard-section-title i {
  padding-right: 12px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: @main-text-1;
  font-weight: 700;
  font-size: 10.5pt;
}

.form-input {
  border: 1px solid @form-border;
  border-radius: 0px;
  color: @main-text;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 11pt;
  font-weight: 400;
  height: 50px;
  margin-bottom: 8px;
}

.form-input + .fa {
  position: absolute;
  top: 16px;
  left: 20px;
  padding: 0;
  color: @input-placeholder-text;
}

.form-input:focus + .fa {
  color: @sproutup-blue;
}

.form-input +  .url-prefix {
  position: relative;
  top: -47px;
  left: 16px;
  padding: 0;
  color: @sproutup-blue;
  font-size: 11pt;
  font-weight: 400;
}

.form-input.left-feedback {
  padding-left: 48px;
}

.form-input.left-feedback {
    padding-left: 110px;
}

.form-input-textarea {
  resize: vertical;
  border: 1px solid @form-border;
  min-height: 120px;
  border-radius: 0px;
  font-size: 11pt;
  font-weight: 400;
  color: @main-text;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.form-input-textarea.no-resize {
  resize: none;
}

.form--error-message {
  color: @sproutup-error-message;
  text-align: left;
  font-weight: 400;
  font-size: 10pt;
  padding: 0px 0px 15px;
}

.form--error-message i {
  padding-right: 5px;
}

.create-product-wrapper {
  max-width: 640px;
}

.create-campaign-wrapper {
  max-width: 640px;
}

.form-input-group {
  margin-bottom: 20px;
}

.input-group-title {
  color: @sproutup-blue;
  font-weight: 400;
  font-size: 11pt;
  margin: 0px;
  padding: 0px 0px 10px;
}

.campaign-type-selector {
  padding: 0px;
}

.campaign-type-info {
  height: 160px;
  margin: 2px;
  color: @sproutup-blue;
  border: 1px solid @sproutup-blue;
  text-align: center;
  font-weight: 400;
  font-size: 11pt;
  padding: 50px 0px 0px;
}

.campaign-type-info p i {
  font-size: 14pt;
}

.input-group-campaign-type {
  margin: 15px 0px 0px;
}

.tab-set {
  margin: 20px 0px 40px;
}

.tab-set-pills li a {
  color: @main-text-1;
  font-weight: 400;
  font-size: 10pt;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 12px 25px;
  border-radius: 0px;
  background-color: @sproutup-verylightgrey;
}

.tab-set-pills li a:hover {
  background-color: @sproutup-lightgrey;
}

.tab-set-pills li.active a, .tab-set-pills li.active a:focus {
  color: white;
  background-color: @sproutup-blue;
}

.tab-set-pills li.active a:hover {
  color: white;
  background-color: @sproutup-blue-hover;
}

.settings-wrapper {
  max-width: 700px;
  margin: 10px 0px 0px;
  padding: 0px;
}

.col-profile-picture {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.col-profile-info {
  margin: 0px;
  padding: 0px 25px;
}

.account-settings-profile-picture {
  margin: 0px 0px 15px;
  width: 100%;
  height: auto;
}

.btn-file {
  height: 36px;
  font-weight: 700;
  font-size: 9pt;
  background-color: @sproutup-orange;
  color: white;
  border-radius: 2px;
  padding-top: 8px;
  margin: 0px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-file:hover {
  background-color: @sproutup-orange-hover;
  color: white;
}

.btn-file.cancel {
  color: white;
  background-color: @sproutup-grey;
}

.btn-file.cancel:hover {
  color: white;
  background-color: @sproutup-dark-grey;
}

.profile-picture-buttons {
  text-align: center;
}

.col-change-password {
  margin: 0px;
  padding: 0px;
}

.col-company-profile {
  margin: 0px;
  padding: 0px;
}

.dashboard-menu-top {
  float: right;
  font-weight: 700;
  font-size: 11pt;
  margin-top: 3px;
}

.dashboard-menu-top a {
  text-align: center;
  text-decoration: none !important;
}

.dashboard-menu-top .dashboard-menu-top-item {
  color: @main-text-1;
  padding: 15px 12px 10px;
  margin: 0px 12px;
}

.dashboard-menu-top .dashboard-menu-top-item.active {
  color: @sproutup-blue;
  border-bottom: 6px solid @sproutup-blue;
}

