<h1 class="dashboard-section-title"><a ui-sref="company.navbar.template.list"><i class="fa fa-angle-left"></i></a>Create New Contest Template</h1>
<div class="create-product-wrapper" ng-init="vm.type='contest'">
  <div class="row">
    <form name="campaignForm" class="form-horizontal" ng-submit="vm.create(campaignForm.$valid, 'contest')" novalidate>
      <fieldset>
        <div class="col-sm-12 form-input-group">
          <p class="input-group-title">Basic Information</p>
          <input type="text" class="form-control form-input" placeholder="Pick a name for your campaign" ng-model="vm.name">

          <input type="text" class="form-control form-input" placeholder="Type of campaign" ng-model="vm.type" name="type" required>
          <div role="alert" ng-if="campaignForm.type.$touched || campaignForm.$submitted">
            <p class="form--error-message" ng-show="campaignForm.type.$error.required"><i class="fa fa-minus-circle"></i>Campaign type is required.</p>
          </div>
        </div>
        <div class="col-sm-12 form-input-group">
          <p class="input-group-title">Description</p>
          <textarea class="form-control form-input-textarea" placeholder="Tell users more about this product. What are the cool features? What's the story behind this product?" ng-model="vm.description"></textarea>
        </div>
        <div class="col-sm-12 form-input-group">
          <input class="btn btn-lg sproutup-btn-md-main" type="submit">
          <a class="btn btn-lg sproutup-btn-md-main cancel" href="#" ng-click="vm.cancel()">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
