<div class="mock-section" id="choose-template" ng-init="vm.find()">
  <h1 class="dashboard-section-title"><a ui-sref='slug.company.navbar.campaign.list'><i class="fa fa-angle-left"></i></a>Create New Campaign</h1>
  <div class="create-campaign-wrapper">
    <h1>Starting a campaign in minutes with a template carefully drafted by our creative marketing experts. Yes it's that easy!</h1>
    <div class="row campaign-template-list">
      <div class="col-lg-3 col-xs-4 campaign-template-item" ng-repeat="item in vm.campaigns | filter: {type:'trial', status: -10}">
        <a ui-sref='slug.company.navbar.t.campaign.trial.create({templateId: item.id, productId: vm.productId})'>
          <img class="img-responsive" src="modules/core/client/img/campaign/template-trial.jpg">
        </a>
        <div class="campaign-template-item-info">
          <div class="template-title">{{ item.name }}</div>
          <div uib-popover="{{ item.description }}" popover-trigger="mouseenter" class="template-description"><a href="#">Learn more about this campaign</a><span><i class="fa fa-question-circle"></i></span></div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-4 campaign-template-item">
        <a href=""><img class="img-responsive" src="modules/core/client/img/campaign/template-video-contest-coming.jpg"></a>
        <div class="campaign-template-item-info">
          <div class="template-title">Video Contest</div>
          <div class="template-description">Video contest coming soon...<span><i class="fa fa-clock-o"></i></span></div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-4 campaign-template-item">
        <a href=""><img class="img-responsive" src="modules/core/client/img/campaign/template-instagram-contest-coming.jpg"></a>
        <div class="campaign-template-item-info">
          <div class="template-title">Instagram Contest</div>
          <div class="template-description">Instagram contest coming soon...<span><i class="fa fa-clock-o"></i></span></div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-4 campaign-template-item">
        <a href=""><img class="img-responsive" src="modules/core/client/img/campaign/template-video-contest-coming.jpg"></a>
        <div class="campaign-template-item-info">
          <div class="template-title">OpenIdea</div>
          <div class="template-description">OpenIdea campaigns coming soon...<span><i class="fa fa-clock-o"></i></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
