<div class="col-sm-9 col-company-profile">
    <form name="companyForm" class="signin" autocomplete="off" ng-submit="edit.update()">
      <fieldset>
        <div data-ng-if="edit.success" up-banner message-variable="edit.success" fade-out="5000" class="hud success">
          <strong>Profile Saved Successfully</strong>
        </div>
        <div data-ng-if="edit.error" up-banner message-variable="edit.error" fade-out="5000" class="hud error">
          <strong><span ng-bind="edit.error"></span></strong>
        </div>

        <!-- Company logo -->
        <div class="form-group">
          <label for="">Your Logo</label>
          <div class="form-secondary-label">Your logo shows up on your SproutUp campaigns and profile. For the best visual quality, the recommended size is 240 x 240 pixels.</div>
          <div up-file-upload ng-model="company.company.logo.file" on-change="company.saveLogo(company.company.logo.file.id, company.company.id)" preview="modules/core/client/img/default-campaign-banner.jpg"></div>
        </div>

        <!-- Company name -->
        <div class="form-group">
          <label for="Name">Company Name</label>
            <input ng-model="edit.company.name" type="text" id="name" name="name" class="form-control form-validate form-input" placeholder="The official name of your company" required>
            <div ng-show="companyForm.name.$touched" ng-messages="companyForm.name.$error">
              <div ng-message="required" class="form--error-message"><i class="fa fa-minus-circle"></i>Company name can't be empty.</div>
            </div>
        </div>

        <!-- Company tagline -->
        <div class="form-group">
          <label for="Tagline">Tagline</label>
            <input ng-model="edit.company.tagline" type="text" id="tagline" name="tagline" class="form-control form-validate form-input" placeholder="A cool tagline about your company">
        </div>

        <!-- Profile appearance -->
        <div class="form-group">
          <label for="">Profile Appearance</label>
          <div class="form-secondary-label">Upload an awesome profile appearance picture to showcase your company. For the best visual quality, the recommended size is 2400 x 1200 pixels.</div>
          <div>
            <div class="company-banner" up-file-upload ng-model="company.company.banner.file" on-change="company.saveBannerPicture(company.company.banner.file.id, company.company.id)" preview="modules/core/client/img/default-campaign-banner.jpg"></div>
          </div>
        </div>

        <!-- Company URL -->
        <div class="form-group">
          <label for="url">Company Website</label>
          <input ng-model="edit.company.url" type="url" id="url" name="url" class="form-control form-validate form-input" placeholder="The official website of your company" required up-http-prefix>
          <div ng-show="companyForm.url.$touched" ng-messages="companyForm.url.$error">
            <div ng-message="required" class="form--error-message"><i class="fa fa-minus-circle"></i>A company without a URL? Silly.</div>
          </div>
        </div>

        <!-- Company address -->
        <div class="form-group">
          <label>Business Address</label>
          <input class="form-control form-input" ng-model="edit.company.address" name="address" placeholder="Business address of your company" ng-autocomplete="" details="edit.company.addressDetails">
        </div>

        <!-- Company phone number -->
        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" ng-model="edit.company.phone" name="phone" id="phone" class="form-control form-validate form-input" ng-intl-tel-input>
        </div>

        <!-- TODO: disable Save button unless users change something -->
        <div class="form-group">
          <input type="submit" ng-disabled="companyForm.$invalid || companyForm.$pristine" value="Save Changes" class="btn btn-lg sproutup-btn-md-main">
        </div>

      </fieldset>
    </form>
</div>
