<div class="col-sm-9 col-company-profile" ng-init="vm.findMyCompany()">
    <form name="companyForm" class="signin" autocomplete="off" ng-submit="vm.update(companyForm.$valid)">
      <fieldset>

        <!-- Company name -->
        <div class="form-group">
          <label for="Name">Company Name</label>
            <input ng-model="vm.company.name" type="text" id="Name" name="Name" class="form-control form-validate form-input" placeholder="The official name of your company">
        </div>

        <!-- Company URL -->
        <div class="form-group">
          <label for="url">Company Website</label>
          <input ng-model="vm.company.url" type="url" id="url" name="url" class="form-control form-validate form-input" placeholder="The official website of your company">
        </div>

        <!-- Company address -->
        <div class="form-group">
          <label for="vm.address">Business Address</label>
          <input ng-model="vm.company.address" type="text" id="address" name="address" class="form-control form-validate form-input" placeholder="Business address of your company">
        </div>

        <!-- Company phone number -->
        <div class="form-group">
          <label for="vm.phone">Phone Number</label>
          <input ng-model="vm.company.phone" type="text" id="phone" name="phone" class="form-control form-validate form-input" placeholder="A phone number we can reach you">
        </div>

        <!-- TODO: disable Save button unless users change something -->
        <!-- TODO: link href to save function -->
        <div class="form-group">
          <a  class="btn btn-lg sproutup-btn-md-main">Save Changes</a>
          <input type="submit" value="Update" class="btn btn-default">
        </div>

        <!-- TODO: change to SproutUp heads-up message style -->
        <div data-ng-show="vm.success" class="text-center text-success">
          <strong>Saved Successfully</strong>
        </div>
        <div data-ng-show="vm.error" class="text-center text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
</div>
