<div data-ng-if="company.success" up-banner message-variable="company.success" fade-out="5000" class="hud success">
  <i class="fa fa-check"></i>Saved Successfully
</div>
<div data-ng-if="company.error" up-banner message-variable="company.error" fade-out="5000" class="hud error">
  <i class="fa fa-frown-o"></i><span ng-bind="company.error"></span>
</div>

<div class="col-sm-9 col-company-profile">
    <form name="companyForm" class="signin" autocomplete="off" ng-submit="company.update()">
      <fieldset>

        <!-- Company name -->
        <div class="form-group">
          <label for="Name">Company Name</label>
            <input ng-model="company.company.name" type="text" id="name" name="name" class="form-control form-validate form-input" placeholder="The official name of your company" required>
            <div ng-messages="companyForm.name.$error">
              <div ng-message="required" class="form--error-message"><i class="fa fa-minus-circle"></i>Please provide a company name.</div>
            </div>
        </div>

        <!-- Company tagline -->
        <div class="form-group">
          <label for="Tagline">Tagline</label>
            <input ng-model="company.company.tagline" type="text" id="tagline" name="tagline" class="form-control form-validate form-input" placeholder="A cool tagline about your company" required>
            <div ng-messages="companyForm.tagline.$error">
              <div ng-message="required" class="form--error-message"><i class="fa fa-minus-circle"></i>Please provide a tagline.</div>
            </div>
        </div>

        <!-- Profile appearance -->
        <div class="form-group">
          <label for="">Profile Appearance</label>
          <div class="form-secondary-label">Upload an awesome photo to showcase your company. For the best visual quality, the recommended size is 2400 x 1200 pixels.</div>
          <div>
            <div class="company-banner" up-file-upload ng-model="company.company.banner.file" on-change="company.saveBannerPicture(company.company.banner.file.id, company.company.id)" preview="modules/core/client/img/default-campaign-banner.jpg">
          </div>
        </div>

        <!-- Company URL -->
        <div class="form-group">
          <label for="url">Company Website</label>
          <input ng-model="company.company.url" type="url" id="url" name="url" class="form-control form-validate form-input" placeholder="The official website of your company">
        </div>

        <!-- Company address -->
        <div class="form-group">
          <label for="vm.address">Business Address</label>
          <input class="form-control form-input" ng-model="company.company.address" name="address" placeholder="Business address of your company" ng-autocomplete="" details="company.company.addressDetails" required>
          <div ng-messages="companyForm.address.$error">
            <div ng-message="required" class="form--error-message"><i class="fa fa-minus-circle"></i>Please provide an address.</div>
          </div>
        </div>

        <!-- Company phone number -->
        <div class="form-group">
          <label for="company.phone">Phone Number</label>
          <input type="text" ng-model="company.company.phone" name="phone" id="phone" class="form-control form-validate form-input" ng-intl-tel-input>
          <div ng-messages="companyForm.phone.$error">
            <div ng-message="ngIntlTelInput" class="form--error-message"><i class="fa fa-minus-circle"></i>Please use a valid phone number.</div>
          </div>
        </div>

        <!-- TODO: disable Save button unless users change something -->
        <div class="form-group">
          <input type="submit" ng-disabled="companyForm.$invalid || companyForm.$pristine" value="Save Changes" class="btn btn-lg sproutup-btn-md-main">
        </div>

      </fieldset>
    </form>
</div>
