<section>
  <h1 class="dashboard-section-title"><i class="fa fa-university"></i>Company Info</h1>

  <div class="tab-set" ng-if="companySettings.shouldRender(authentication.user);">
    <ul class="nav nav-pills tab-set-pills">
      <div ng-repeat="item in companySettings.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}} nav-item-wrapper nav-item-main" dropdown="item.type === 'dropdown'">
        <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </div>
    </ul>
  </div>

  <div class="tab-set">
    <ul class="nav nav-pills tab-set-pills">
      <li data-ui-sref-active="active">
        <a data-ui-sref="user.company.profile">Edit Company Profile</a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="user.company.team">Team Members</a>
      </li>
      <!--li data-ui-sref-active="active">
        <a data-ui-sref="user.company.billing">Billing</a>
      </li-->
    </ul>
  </div>

  <div class="row settings-wrapper">
      <div data-ui-view></div>
  </div>
</section>
