<div class="dashboard-side-panel" ng-init="vm.findOneContent()">
  <div class="dashboard-side-panel-wrapper">
    <div class="dashboard-side-panel-close">
      <a class="btn sproutup-btn-xs" ui-sref="slug.company.navbar.campaign.view.trial.stats" ng-click="vm.contentItem = null"><i class="fa fa-times"></i></a>
    </div>
    <!-- panel header -->
    <div class="dashboard-side-panel-header">
      <p>{{ vm.contentItem.title | limitTo: 24 }}{{ vm.contentItem.title.length < 24 ? '' : '...' }}</p>
    </div>

    <up-media item="vm.contentItem" ng-if="vm.contentItem.ref"></up-media>

    <!-- sending a message -->
    <!-- <div class="dashboard-side-panel-header" ng-if="contributor.messaging">
      <p>Kevin the Tech Ninja<sup class="label label-influencer">Influencer</sup></p>
      <button class="btn sproutup-btn-sm grey"><i class="fa fa-commenting"></i>Close message</button>
    </div>
    <div class="product-trial-item--messages">
      <div class="message-blurb outbound">
        <div class="sender">Me<span>2 days ago</span></div>
        <div class="content">Nice to meet you Kevin! I really love your profile! Are you interested in trying it out?</div>
      </div>
      <div class="message-blurb inbound">
        <div class="sender">Kevin the Tech Ninja<span>2 days ago</span></div>
        <div class="content">Thanks a lot! I am stoked to try this product!</div>
      </div>
      <div class="message-blurb outbound">
        <div class="sender">Me<span>1 hour ago</span></div>
        <div class="content">Word!! Super excited. Look forward to it!</div>
      </div>
      <div class="message-blurb">
        <div class="sender">Me<span>Sending now</span></div>
        <textarea class="form-control form-input-textarea sm" placeholder="If you have any questions, you can message the user here."></textarea>
        <button class="btn btn-sm sproutup-btn-xs">Send message</button>
      </div>
    </div> -->
  </div>
</div>
