<div class="mock-section" id="create-trial-campaign" ng-init="campaign.findProducts()">
  <form name="form" class="css-form" novalidate>
    <h1 class="dashboard-section-title">
      Create New Campaign
      <div class="dashboard-buttons-top">
        <button class="btn sproutup-btn-xs" href="#" type="submit" ng-click="campaign.create(template.item, template.socialOptions)" ng-disabled="!form.$valid">Save Campaign</button>
        <button class="btn sproutup-btn-xs cancel" ng-click="campaign.cancel(form)" href="#">Cancel</button>
      </div>
    </h1>
    <div class="create-campaign-wrapper">
      <div class="new-campaign-component-header banner">
        <p>Campaign Banner Photo</p>
        <p class="sub-header">An awesome banner photo makes your campaign outstanding. For the best visual quality, the recommended size is 2000 x 800 pixels.</span>
      </div>
      <div class="create-campaign-banner" up-file-upload ng-model="campaign.banner" preview="modules/core/client/img/default-campaign-banner.jpg"></div>
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header todo">
          <div class="col-sm-6">
            <p>Campaign details</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Name</p>
              <input name="campaignName" class="form-validate form-control form-input" ng-model="template.item.name" required placeholder="Give your campaign a title">
              <div ng-messages="form.campaignName.$error" ng-show="form.$submitted || form.campaignName.$touched">
                <div class="message error" ng-message="required">Please give your new campaign a name before you save the draft.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Hashtag</p>
              <input class="form-validate form-control form-input" ng-model="template.item.hashtag" name="hashtag" placeholder="Choose a hashtag" ng-model-options="{ debounce: 250 }" ng-pattern="/^[a-zA-Z0-9-]+$/" ng-minlength="3" required up-slug>
              <div ng-messages="form.hashtag.$error" ng-show="form.$submitted || form.hashtag.$touched">
                <div class="message error" ng-message="required">Please choose a handle.</div>
                <div class="message error" ng-message="uniqueslug">This handle has been taken.</div>
                <div class="message error" ng-message="minlength">Your handle has to be at least 3 characters long.</div>
                <div class="message error" ng-message="pattern">Your handle can only have letters and numbers. It can't have any spaces either.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Tagline</p>
              <input class="form-control form-input" ng-model="template.item.tagline" placeholder="Give your campaign a short tagline">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Description</p>
              <textarea class="form-control form-input-textarea" ng-model="template.item.description" placeholder="Write here..."></textarea>
              <div class="annotation">
                <div>Tell users more about your campaign, product or mission. <a href="#" ng-click="showExampleDesc = !showExampleDesc">See an example</a></div>
                <blockquote class="detail" ng-if="showExampleDesc">
                  <p>Take the world’s best mobile photography lens with you for adventure photos and travel, or just simply capture your fun shenanigans throughout the day. Want some ideas to get started? Here’re a few:</p>
                  <p>Make a short vlog of your Spring Break trip. Share a photo series of street portraits in your city or your daily mundane activities. Attend a sports event and capture the thrilling actions. Teach your little brother/grandma how to twist and capture how simple that is!</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header todo">
          <div class="col-sm-6">
            <p>Campaign instructions</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Provide instructions for users who participate your campaign.</p>
              <textarea class="form-control form-input-textarea" ng-model="template.item.instructions" placeholder="Write here..."></textarea>
              <div class="annotation">
                <div>Providing clear instructions helps creators to deliver the content in the form and taste you desire. <a href="#" ng-click="showExampleInstructions = !showExampleInstructions">See an example</a></div>
                <blockquote class="detail" ng-if="showExampleInstructions">
                  <p>Viewers tell us that they more enjoy watching the personal and fun side of you than the formal tech reviews. So, SproutUp trials are all about bite-size “personal storytelling” - an interesting plot with a real protagonist (friend or a family member), taking your audience on a journey or showing off interesting ways to use this awesome Moment Lens etc.</p>
                  <p>For awesome videographers, it would be great to tell your story in a short 1-3 mins video on YouTube, or as a vlog over 4-5 days. For photographers, you may create a slideshow of your 6-8 best shots with your comments and share on SnapChat or Vine. Or you can simply do a live thing on Periscope or SnapChat! Oh well, not to mention that you are welcome to do your own creative thing too.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header todo">
          <div class="col-sm-6">
            <p>Content</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>What type of content creators are you looking for?</p>
              <up-multi-switch options="template.socialOptions"></up-multi-switch>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component">
        <div class="row new-campaign-component-header todo">
          <div class="col-sm-6">
            <p>Choose a product</p>
          </div>
        </div>
        <div class="row new-campaign-component-content" ng-if="campaign.ProductService.model.products">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Please choose or add a new product that you'd like to promote in your campaign</p>
              <div class="campaign-choose-product">
                <div ng-repeat="product in campaign.ProductService.model.products">
                  <input type="radio" id="{{ product.id }}" ng-model="template.item.productId" value="{{ product.id }}">
                  <label for="{{ product.id }}"><span></span>{{ product.name }}</label>
                </div>
                <button class="btn sproutup-btn-md-main minimal" ui-sref="slug.company.navbar.t.campaign.trial.create.create-product">Add new product</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header todo">
          <div class="col-sm-6">
            <p>Trial setup</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p class="input-group-title">Do you allow influencers to keep products after content creation?</p>
              <up-switch optionfalse="No" optiontrue="Yep" selected="template.item.trial.keepProduct"></up-switch>
            </div>
          </div>
      </div>
    </div>
    <!-- <div>
      <input class="btn btn-lg sproutup-btn-md-main" type="submit" value="Save">
      <a class="btn btn-lg sproutup-btn-md-main cancel" href="#" ng-click="vm.cancel()">Cancel</a>
    </div> -->
  </form>
  <hr>
  <div class="dashboard-buttons-top">
    <button class="btn sproutup-btn-xs" href="#" type="submit" ng-click="campaign.create(template.item, template.socialOptions)" ng-disabled="!form.$valid">Save Campaign</button>
    <button class="btn sproutup-btn-xs cancel" ng-click="campaign.cancel(form)" href="#">Cancel</button>
  </div>
</div>
<div ui-view></div>
