<div class="mock-section" id="create-trial-campaign" ng-init="vm.findOne()">
  <form name="form" class="css-form" novalidate>
    <h1 class="dashboard-section-title">
      {{ vm.item.name || 'Your Campaign Title' }}
      <div class="dashboard-buttons-top">
        <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.startCampaign()">Start Campaign</button>
        <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.update()" ng-disabled="!form.$valid">Save</button>
        <button class="btn btn-sm sproutup-btn-xs cancel" ng-click="vm.cancel()" href="#">Exit</button>
      </div>
    </h1>
    <div class="create-campaign-wrapper">
      <div class="create-campaign-banner" up-file-upload ng-model="vm.item.banner.file" on-change="vm.saveBannerPicture(vm.item.banner.file.id, vm.item.id)" preview="modules/core/client/img/default-campaign-banner.jpg"></div>
      <!-- banner area -->
      <!--div class="create-campaign-banner" style="background-image: url('modules/core/client/img/default-campaign-banner.jpg');">
        <h1><a href="#">Campaign Title</a><span><a href="#">Inspirations</a></span></h1>
        <h2><a href="#">Short description</a><span><a href="#">Inspirations</a></span></h2>
        <h3><a href="#"><i class="fa fa-camera"></i>An awesome banner does a lot</a></h3>
      </div-->
      <!-- editing a component -->
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header todo">
          <div class="col-sm-6">
            <p>Campaign details</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Name</p>
              <input class="form-control form-input" ng-model="vm.item.name">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Tagline</p>
              <input class="form-control form-input" ng-model="vm.item.tagline">
            </div>
          </div>
        </div>
      </div>
      <!-- editing a component -->
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header todo">
          <div class="col-sm-6">
            <p>Campaign instructions</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Let us know any instructions you have for trial users.</p>
              <textarea class="form-control form-input-textarea" ng-model="vm.item.instructions"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header todo">
          <div class="col-sm-6">
            <p>Content</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>What type of content creators are you looking for?</p>
              <up-multi-switch options="vm.socialOptions"></up-multi-switch>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component">
        <div class="row new-campaign-component-header todo">
          <div class="col-sm-6">
            <p>Add a product</p>
          </div>
        </div>
        <div class="row new-campaign-component-content" ng-if="vm.products">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Please choose or add a new product you'd like to promote in your campaign</p>
              <div class="campaign-choose-product">
                <div ng-repeat="product in vm.products">
                  <input type="radio" id="{{ product.id }}" ng-model="vm.item.productId" value="{{ product.id }}">
                  <label for="{{ product.id }}"><span></span>{{ product.name }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header todo">
          <div class="col-sm-6">
            <p>Trial setup</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="campaign-question-wrapper">
            <p class="input-group-title">Do you allow influencers to keep products after content creation?</p>
            <up-switch optionfalse="No" optiontrue="Yep" selected="vm.item.trial.keepProduct"></up-switch>
          </div>
      </div>
    </div>
    <!-- <div>
      <input class="btn btn-lg sproutup-btn-md-main" type="submit" value="Save">
      <a class="btn btn-lg sproutup-btn-md-main cancel" href="#" ng-click="vm.cancel()">Cancel</a>
    </div> -->
  </form>
</div>
