<div class="edit-campaign-wrapper" id="create-trial-campaign">
  <form name="form" class="css-form" novalidate>
    <h1 class="dashboard-section-title">
      {{ vm.item.name || 'Your Campaign Title' }}
      <div class="dashboard-buttons-top">
        <button analytics-on="click" analytics-event="Launch Campaign" analytics-campaignName="{{ vm.item.name }}" analytics-campaignId="{{ vm.item.id }}" analytics-campaignHashtag="{{ vm.item.hashtag }}" class="btn btn-sm sproutup-btn-xs" ng-click="vm.startCampaign()" ng-disabled="!form.$valid || (!vm.socialOptions[0].selected && !vm.socialOptions[1].selected && !vm.socialOptions[2].selected && !vm.socialOptions[3].selected && !vm.socialOptions[4].selected && !vm.socialOptions[5].selected && !vm.socialOptions[6].selected) || ( vm.ProductService.model.products.length === 0 )" ng-if="vm.item.$resolved && vm.item.status > -2 && vm.item.status < 1">Start Campaign</button>
        <button analytics-on="click" analytics-event="Save Campaign" analytics-campaignName="{{ vm.item.name }}" analytics-campaignId="{{ vm.item.id }}" analytics-campaignHashtag="{{ vm.item.hashtag }}" class="btn btn-sm sproutup-btn-xs minimal" ng-click="vm.update(form)" ng-if="vm.item.$resolved && (vm.item.status === 0 || vm.item.status === -1)">Save and Exit</button>
        <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.openDisapproveCampaignModal()" ng-if="vm.user.roles.indexOf('admin') > -1 && vm.item.$resolved && vm.item.status === 1">Disapprove</button>
        <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.openApproveCampaignModal()" ng-if="vm.user.roles.indexOf('admin') > -1 && vm.item.$resolved && vm.item.status === 1">Approve</button>
        <button analytics-on="click" analytics-event="End Campaign" analytics-campaignName="{{ vm.item.name }}" analytics-campaignId="{{ vm.item.id }}" analytics-campaignHashtag="{{ vm.item.hashtag }}" class="btn btn-sm sproutup-btn-xs" ng-click="vm.openStopCampaignModal()" ng-if="vm.item.$resolved && vm.item.status > 0">End Campaign</button>
        <button analytics-on="click" analytics-event="Update Campaign" analytics-campaignName="{{ vm.item.name }}" analytics-campaignId="{{ vm.item.id }}" analytics-campaignHashtag="{{ vm.item.hashtag }}" class="btn btn-sm sproutup-btn-xs minimal" ng-click="vm.update(form)" ng-disabled="!form.$valid || (!vm.socialOptions[0].selected && !vm.socialOptions[1].selected && !vm.socialOptions[2].selected && !vm.socialOptions[3].selected && !vm.socialOptions[4].selected && !vm.socialOptions[5].selected && !vm.socialOptions[6].selected) || ( vm.ProductService.model.products.length === 0 )" ng-if="vm.item.$resolved && (vm.item.status === 10 || vm.item.status === 1)">Update Campaign</button>
      </div>
    </h1>
    <div class="create-campaign-wrapper" ng-if="vm.user.roles.indexOf('admin') > -1 && vm.item.status < 3">
      <div class="row new-campaign-component-content">
        <div class="col-sm-12">
          <div class="campaign-question-wrapper">
            <p>Things to improve before going live:</p>
            <textarea name="campaignInstructions" class="form-validate form-control form-input-textarea" ng-model="vm.item.disapprovedNote" ng-model-options="{ updateOn: 'blur' }" placeholder="Write here..." ng-if="vm.user.roles.indexOf('admin') > -1"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="create-campaign-wrapper">
      <div class="row new-campaign-component-header disapprove-note" ng-if="vm.item.status === -1 && vm.item.disapprovedNote">
        <div class="col-sm-12">
          <p>Things to improve before going live:</p>
          <p class="sub-header">{{ vm.item.disapprovedNote }}</p>
        </div>
      </div>
      <div class="row new-campaign-component-header banner">
        <div class="col-sm-12">
          <p>Campaign Banner Photo</p>
          <p class="sub-header">An awesome banner photo makes your campaign outstanding. For the best visual quality, the recommended size is 1500 x 500 pixels.</p>
        </div>
      </div>
      <div class="create-campaign-banner" up-file-upload ng-model="vm.item.banner.file" on-change="vm.saveBannerPicture(vm.item.banner.file.id, vm.item.id)" preview="modules/core/client/img/default-campaign-banner.jpg"></div>
      <!-- editing a component -->
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header" ng-class="{ todo: !form.campaignName.$valid || !form.campaignTagline.$valid || !form.campaignDesc.$valid || !form.hashtag.$valid, done: form.campaignName.$valid && form.campaignTagline.$valid && form.campaignDesc.$valid && form.hashtag.$valid }">
          <div class="col-sm-6">
            <p><i ng-if="form.campaignName.$valid && form.campaignTagline.$valid && form.campaignDesc.$valid" class="fa fa-check-circle"></i>Tell us about your Campaign</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Name</p>
              <input name="campaignName" class="form-validate form-control form-input" ng-model="vm.item.name" ng-model-options="{ updateOn: 'blur' }" required placeholder="Give your campaign a catchy name">
              <div ng-messages="form.campaignName.$error" ng-show="form.campaignName.$touched">
                <div class="message error" ng-message="required">A campaign without a title? Silly.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Tagline</p>
              <input name="campaignTagline" class="form-validate form-control form-input" ng-model="vm.item.tagline" ng-model-options="{ updateOn: 'blur' }" required placeholder="Give your campaign a short tagline">
              <div ng-messages="form.campaignTagline.$error" ng-show="form.campaignTagline.$touched">
                <div class="message error" ng-message="required">A tagline is also required. People talk about it!</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="campaign-question-wrapper" ng-if="vm.item.status < 1">
              <p>Campaign Hashtag</p>
              <input name="hashtag" class="form-validate form-control form-input" ng-model="vm.item.hashtag" ng-model-options="{ updateOn: 'blur' }" required placeholder="Give your campaign a unique, eye-catching hashtag" ng-pattern="/^[a-zA-Z0-9-]+$/" ng-minlength="3" required up-slug>
              <div ng-messages="form.hashtag.$error" ng-show="form.$submitted || form.hashtag.$touched">
                <div class="message error" ng-message="required">Please enter a hashtag for your campaign.</div>
                <div class="message error" ng-message="uniqueslug">This hashtag has been taken.</div>
                <div class="message error" ng-message="minlength">Your hashtag has to be at least 3 characters long.</div>
                <div class="message error" ng-message="pattern">Your hashtag can only have letters and numbers. It can't have any spaces either.</div>
              </div>
              <div class="annotation">
                <div>Create an inspiring and memorable hashtag. It's how people discover and learn about your campaign. (e.g. https://sproutup.co/<strong>FindWhatMatters</strong>).</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12" ng-if="vm.item.status > 0">
            <div class="campaign-question-wrapper">
              <p>Hashtag</p>
              <input name="hashtag" class="form-validate form-control form-input" ng-model="vm.item.hashtag" readonly>
              <div class="annotation">
                <div>Create an inspiring and memorable hashtag. It's how people discover and learn about your campaign. (e.g. https://sproutup.co/<strong>FindWhatMatters</strong>).</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Description</p>
              <textarea name="campaignDesc" class="form-validate form-control form-input-textarea" ng-model="vm.item.description" ng-model-options="{ updateOn: 'blur' }" placeholder="Write here..." required></textarea>
              <div ng-messages="form.campaignDesc.$error" ng-show="form.campaignDesc.$touched">
                <div class="message error" ng-message="required">Please let people know what your campaign is about.</div>
              </div>
              <div class="annotation">
                <div>In 120 words or less, tell people about your campaign, product or mission. Make it attractive to the the most creative influencers out there. Want an idea to get started? <a href="#" ng-click="showExampleDesc = !showExampleDesc">See an example</a></div>
                <blockquote class="detail" ng-if="showExampleDesc">
                  <p>Moment lens is the world’s best glass for your phone.</p>
                  <p>But don’t take our word for it. Try it for yourself, yes, you — the cool mobile photographer who simply can’t keep the phone inside the pocket!</p>
                  <p>Take Moment with you on your adventures and travel, or capture your fun shenanigans throughout the day. Stick the lens to any model of your phone, and you’ll realize it has turned into a much better camera.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- editing a component -->
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header" ng-class="{ todo: !form.campaignInstructions.$valid, done: form.campaignInstructions.$valid }">
          <div class="col-sm-6">
            <p><i ng-if="form.campaignInstructions.$valid" class="fa fa-check-circle"></i>Campaign instructions</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>What do you want users to do?</p>
              <textarea name="campaignInstructions" class="form-validate form-control form-input-textarea" ng-model="vm.item.instructions" ng-model-options="{ updateOn: 'blur' }" placeholder="Write here..." required></textarea>
              <div ng-messages="form.campaignInstructions.$error" ng-show="form.campaignInstructions.$touched">
                <div class="message error" ng-message="required">Please provide proper instructions to the content creators.</div>
              </div>
              <div class="annotation">
                <div>In 80 words or less, provide a specific ask to avoid generic reviews. Specify product features, use cases or a mission to help creators anchor their content. Additionally, you can instruct the kind of content to deliver for each type of channel. Or specify the types of people you want to participate in this campaign, such as music lovers, comedians and travelers. <a href="#" ng-click="showExampleInstructions = !showExampleInstructions">See an example</a></div>
                <blockquote class="detail" ng-if="showExampleInstructions">
                  <p>Create a YouTube video (between 1-2 minutes) to show us how you use Moment lens to capture the beauty and grandeur of nature. Consider making a mini-vlog on your spring break trip, or showcasing a photo montage of your tropical adventure — be sure to tag #BigWorldTinyPeople. Or make an Instagram portfolio with the shots captured on Moment Lens. Get creative using Instagram filters and annotation/drawing tools.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header" ng-class="{ todo: !vm.socialOptions[0].selected && !vm.socialOptions[1].selected && !vm.socialOptions[2].selected && !vm.socialOptions[3].selected && !vm.socialOptions[4].selected && !vm.socialOptions[5].selected && !vm.socialOptions[6].selected, done: vm.socialOptions[0].selected || vm.socialOptions[1].selected || vm.socialOptions[2].selected || vm.socialOptions[3].selected || vm.socialOptions[4].selected || vm.socialOptions[5].selected || vm.socialOptions[6].selected }">
          <div class="col-sm-6">
            <p><i ng-if="vm.socialOptions[0].selected || vm.socialOptions[1].selected || vm.socialOptions[2].selected || vm.socialOptions[3].selected || vm.socialOptions[4].selected || vm.socialOptions[5].selected || vm.socialOptions[6].selected" class="fa fa-check-circle"></i>Content</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>What type of content creators are you looking for?</p>
              <up-multi-switch options="vm.socialOptions"></up-multi-switch>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component">
        <div class="row new-campaign-component-header" ng-class="{ todo: !form.campaignProduct.$valid, done: form.campaignProduct.$valid }" ng-init="vm.findProducts()">
          <div class="col-sm-6">
            <p><i ng-if="form.campaignProduct.$valid" class="fa fa-check-circle"></i>Choose a product</p>
          </div>
        </div>
        <div class="row new-campaign-component-content" ng-if="vm.ProductService.model.products">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Please choose or add a new product that you'd like to promote in your campaign</p>
              <div class="campaign-choose-product">
                <div ng-repeat="product in vm.ProductService.model.products">
                  <input name="campaignProduct" type="radio" id="{{ product.id }}" ng-model="vm.item.productId" value="{{ product.id }}" required>
                  <label for="{{ product.id }}"><span></span>{{ product.name }}</label>
                </div>
                <button class="btn sproutup-btn-md-main minimal" ui-sref="slug.company.navbar.campaign.edit.trial.create-product">Add new product</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header done">
          <div class="col-sm-6">
            <p><i class="fa fa-check-circle"></i>Trial product setup</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p class="input-group-title">Will you let content creators keep the product?</p>
              <div class="input-group-subtitle">Many brands let influencers keep products, but it's up to you. Please consider factors such as the product's price, and the cost of shipping the products back. Please note that the shipping is handled by you and the influencers.</div>
              <up-switch optionfalse="No" optiontrue="Yep" selected="vm.item.trial.keepProduct"></up-switch>
            </div>
          </div>
      </div>
    </div>
    <hr>
    <h2>By creating and starting a campaign, I agree to SproutUp's <a ui-sref="terms" target="_blank">Terms of Service</a> and <a ui-sref="privacy" target="_blank">Privacy Policy</a>.
      <div class="dashboard-buttons-top">
        <button analytics-on="click" analytics-event="Launch Campaign" analytics-campaignName="{{ vm.item.name }}" analytics-campaignId="{{ vm.item.id }}" analytics-campaignHashtag="{{ vm.item.hashtag }}" class="btn btn-sm sproutup-btn-xs" ng-click="vm.startCampaign()" ng-disabled="!form.$valid || (!vm.socialOptions[0].selected && !vm.socialOptions[1].selected && !vm.socialOptions[2].selected && !vm.socialOptions[3].selected && !vm.socialOptions[4].selected && !vm.socialOptions[5].selected && !vm.socialOptions[6].selected) || ( vm.ProductService.model.products.length === 0 )" ng-if="vm.item.$resolved && vm.item.status > -2 && vm.item.status < 1">Start Campaign</button>
        <button analytics-on="click" analytics-event="Save Campaign" analytics-campaignName="{{ vm.item.name }}" analytics-campaignId="{{ vm.item.id }}" analytics-campaignHashtag="{{ vm.item.hashtag }}" class="btn btn-sm sproutup-btn-xs minimal" ng-click="vm.update(form)" ng-if="vm.item.$resolved && (vm.item.status === 0 || vm.item.status === -1)">Save and Exit</button>
        <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.openDisapproveCampaignModal()" ng-if="vm.user.roles.indexOf('admin') > -1 && vm.item.$resolved && vm.item.status === 1">Disapprove</button>
        <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.openApproveCampaignModal()" ng-if="vm.user.roles.indexOf('admin') > -1 && vm.item.$resolved && vm.item.status === 1">Approve</button>
        <button analytics-on="click" analytics-event="End Campaign" analytics-campaignName="{{ vm.item.name }}" analytics-campaignId="{{ vm.item.id }}" analytics-campaignHashtag="{{ vm.item.hashtag }}" class="btn btn-sm sproutup-btn-xs" ng-click="vm.openStopCampaignModal()" ng-if="vm.item.$resolved && vm.item.status > 0">End Campaign</button>
        <button analytics-on="click" analytics-event="Update Campaign" analytics-campaignName="{{ vm.item.name }}" analytics-campaignId="{{ vm.item.id }}" analytics-campaignHashtag="{{ vm.item.hashtag }}" class="btn btn-sm sproutup-btn-xs minimal" ng-click="vm.update(form)" ng-disabled="!form.$valid || (!vm.socialOptions[0].selected && !vm.socialOptions[1].selected && !vm.socialOptions[2].selected && !vm.socialOptions[3].selected && !vm.socialOptions[4].selected && !vm.socialOptions[5].selected && !vm.socialOptions[6].selected) || ( vm.ProductService.model.products.length === 0 )" ng-if="vm.item.$resolved && (vm.item.status === 10 || vm.item.status === 1)">Update Campaign</button>
      </div>
    </h2>
  </form>

</div>
<div ui-view></div>
