<div class="mock-section" id="create-trial-campaign">
  <form name="form" class="css-form" novalidate>
    <h1 class="dashboard-section-title">
      {{ vm.item.name || 'Your Campaign Title' }}
      <div class="dashboard-buttons-top">
        <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.startCampaign()" ng-disabled="!form.$valid" ng-if="vm.item.$resolved && vm.item.status !== 1">Start Campaign</button>
        <button class="btn btn-sm sproutup-btn-xs minimal" ng-click="vm.update(form)" ng-if="vm.item.$resolved && vm.item.status !== 1">Save and Exit</button>
        <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.openStopCampaignModal()" ng-if="vm.item.$resolved && vm.item.status === 1">End Campaign</button>
        <button class="btn btn-sm sproutup-btn-xs minimal" ng-click="vm.update(form)" ng-disabled="!form.$valid" ng-if="vm.item.$resolved && vm.item.status === 1">Update Campaign</button>
      </div>
    </h1>
    <div class="create-campaign-wrapper">
      <div class="new-campaign-component-header banner">
        <p>Campaign Banner Photo</p>
        <p class="sub-header">An awesome banner photo makes your campaign outstanding. For the best visual quality, the recommended size is 2000 x 800 pixels.</span>
      </div>
      <div class="create-campaign-banner" up-file-upload ng-model="vm.item.banner.file" on-change="vm.saveBannerPicture(vm.item.banner.file.id, vm.item.id)" preview="modules/core/client/img/default-campaign-banner.jpg"></div>
      <!-- editing a component -->
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header" ng-class="{ todo: !form.campaignName.$valid || !form.campaignTagline.$valid || !form.campaignDesc.$valid, done: form.campaignName.$valid && form.campaignTagline.$valid && form.campaignDesc.$valid }">
          <div class="col-sm-6">
            <p><i ng-if="form.campaignName.$valid && form.campaignTagline.$valid && form.campaignDesc.$valid" class="fa fa-check-circle"></i>Campaign details</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Name</p>
              <input name="campaignName" class="form-validate form-control form-input" ng-model="vm.item.name" ng-model-options="{ updateOn: 'blur' }" required placeholder="Give your campaign a title">
              <div ng-messages="form.campaignName.$error" ng-show="form.campaignName.$touched">
                <div class="message error" ng-message="required">A campaign without a title? Silly.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Tagline</p>
              <input name="campaignTagline" class="form-validate form-control form-input" ng-model="vm.item.tagline" ng-model-options="{ updateOn: 'blur' }" required placeholder="Give your campaign a short tagline">
              <div ng-messages="form.campaignTagline.$error" ng-show="form.campaignTagline.$touched">
                <div class="message error" ng-message="required">A tagline is also required. People talk about it!</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Description</p>
              <textarea name="campaignDesc" class="form-validate form-control form-input-textarea" ng-model="vm.item.description" ng-model-options="{ updateOn: 'blur' }" placeholder="Write here..." required></textarea>
              <div ng-messages="form.campaignDesc.$error" ng-show="form.campaignDesc.$touched">
                <div class="message error" ng-message="required">Please let people know what your campaign is about.</div>
              </div>
              <div class="annotation">
                <div>Tell users more about your campaign, product or mission. <a href="#" ng-click="showExampleDesc = !showExampleDesc">See an example</a></div>
                <blockquote class="detail" ng-if="showExampleDesc">
                  <p>Take the world’s best mobile photography lens with you for adventure photos and travel, or just simply capture your fun shenanigans throughout the day. Want some ideas to get started? Here’re a few:</p>
                  <p>Make a short vlog of your Spring Break trip. Share a photo series of street portraits in your city or your daily mundane activities. Attend a sports event and capture the thrilling actions. Teach your little brother/grandma how to twist and capture how simple that is!</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- editing a component -->
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header" ng-class="{ todo: !form.campaignInstructions.$valid, done: form.campaignInstructions.$valid }">
          <div class="col-sm-6">
            <p><i ng-if="form.campaignInstructions.$valid" class="fa fa-check-circle"></i>Campaign instructions</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Provide instructions for users who participate your campaign.</p>
              <textarea name="campaignInstructions" class="form-validate form-control form-input-textarea" ng-model="vm.item.instructions" ng-model-options="{ updateOn: 'blur' }" placeholder="Write here..." required></textarea>
              <div ng-messages="form.campaignInstructions.$error" ng-show="form.campaignInstructions.$touched">
                <div class="message error" ng-message="required">Please provide proper instructions to the content creators.</div>
              </div>
              <div class="annotation">
                <div>Providing clear instructions helps creators to deliver the content in the form and taste you desire. <a href="#" ng-click="showExampleInstructions = !showExampleInstructions">See an example</a></div>
                <blockquote class="detail" ng-if="showExampleInstructions">
                  <p>Viewers tell us that they more enjoy watching the personal and fun side of you than the formal tech reviews. So, SproutUp trials are all about bite-size “personal storytelling” - an interesting plot with a real protagonist (friend or a family member), taking your audience on a journey or showing off interesting ways to use this awesome Moment Lens etc.</p>
                  <p>For awesome videographers, it would be great to tell your story in a short 1-3 mins video on YouTube, or as a vlog over 4-5 days. For photographers, you may create a slideshow of your 6-8 best shots with your comments and share on SnapChat or Vine. Or you can simply do a live thing on Periscope or SnapChat! Oh well, not to mention that you are welcome to do your own creative thing too.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header" ng-class="{ todo: !vm.socialOptions[0].selected && !vm.socialOptions[1].selected && !vm.socialOptions[2].selected && !vm.socialOptions[3].selected && !vm.socialOptions[4].selected && !vm.socialOptions[5].selected && !vm.socialOptions[6].selected, done: vm.socialOptions[0].selected || vm.socialOptions[1].selected || vm.socialOptions[2].selected || vm.socialOptions[3].selected || vm.socialOptions[4].selected || vm.socialOptions[5].selected || vm.socialOptions[6].selected }">
          <div class="col-sm-6">
            <p><i ng-if="vm.socialOptions[0].selected || vm.socialOptions[1].selected || vm.socialOptions[2].selected || vm.socialOptions[3].selected || vm.socialOptions[4].selected || vm.socialOptions[5].selected || vm.socialOptions[6].selected" class="fa fa-check-circle"></i>Content</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>What type of content creators are you looking for?</p>
              <up-multi-switch options="vm.socialOptions"></up-multi-switch>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component">
        <div class="row new-campaign-component-header" ng-class="{ todo: !form.campaignProduct.$valid, done: form.campaignProduct.$valid }" ng-init="vm.findProducts()">
          <div class="col-sm-6">
            <p><i ng-if="form.campaignProduct.$valid" class="fa fa-check-circle"></i>Choose a product</p>
          </div>
        </div>
        <div class="row new-campaign-component-content" ng-if="vm.ProductService.model.products">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p>Please choose or add a new product that you'd like to promote in your campaign</p>
              <div class="campaign-choose-product">
                <div ng-repeat="product in vm.ProductService.model.products">
                  <input name="campaignProduct" type="radio" id="{{ product.id }}" ng-model="vm.item.productId" value="{{ product.id }}" required>
                  <label for="{{ product.id }}"><span></span>{{ product.name }}</label>
                </div>
                <button class="btn sproutup-btn-md-main minimal" ui-sref="slug.company.navbar.campaign.edit.trial.create-product">Add new product</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-campaign-component todo">
        <div class="row new-campaign-component-header done">
          <div class="col-sm-6">
            <p><i class="fa fa-check-circle"></i>Trial setup</p>
          </div>
        </div>
        <div class="row new-campaign-component-content">
          <div class="col-sm-12">
            <div class="campaign-question-wrapper">
              <p class="input-group-title">Do you allow influencers to keep products after content creation?</p>
              <up-switch optionfalse="No" optiontrue="Yep" selected="vm.item.trial.keepProduct"></up-switch>
            </div>
          </div>
      </div>
    </div>
    <!-- <div>
      <input class="btn btn-lg sproutup-btn-md-main" type="submit" value="Save">
      <a class="btn btn-lg sproutup-btn-md-main cancel" href="#" ng-click="vm.cancel()">Cancel</a>
    </div> -->
  </form>
  <hr>
  <div class="dashboard-buttons-top">
    <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.startCampaign()" ng-disabled="!form.$valid" ng-if="vm.item.$resolved && vm.item.status !== 1">Start Campaign</button>
    <button class="btn btn-sm sproutup-btn-xs minimal" ng-click="vm.update(form)" ng-if="vm.item.$resolved && vm.item.status !== 1">Save and Exit</button>
    <button class="btn btn-sm sproutup-btn-xs" ng-click="vm.openStopCampaignModal()" ng-if="vm.item.$resolved && vm.item.status === 1">End Campaign</button>
    <button class="btn btn-sm sproutup-btn-xs minimal" ng-click="vm.update(form)" ng-disabled="!form.$valid" ng-if="vm.item.$resolved && vm.item.status === 1">Update Campaign</button>
  </div>
</div>
<div ui-view></div>
