<div class="dashboard-body-header">
  <div ng-if="vm.requested.length > 0">
    <div class="dashboard-body-title" ng-if="vm.requested.length > 1">Below are {{ vm.requested.length }} product trial requests you have received.
      <div class="dashboard-body-subtitle">Please review and find who you'd like to work with.</div>
    </div>
    <div class="dashboard-body-title" ng-if="vm.requested.length === 1">Below is your first trial request.
      <div class="dashboard-body-subtitle">Click on 'details' to see more info and approve the request.</div>
    </div>
    <div class="sproutup-table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th><a href="#">Total Reach</a><sup><i class="fa fa-question-circle"></i></sup></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in vm.requested">
            <td class="request-avatar"><a href="#"><img class="img-center" ng-src="{{ user.avatarUrl || 'https://pbs.twimg.com/profile_images/555729400335847424/I8lgVJtQ_bigger.png' }}"></a></td>
            <td class="request-name-pitch">
              <div class="name"><a href="#">{{ user.name || 'Peter Thiel' }}</a></div>
              <div>{{ user.comment || 'No reason specified' }}<a href="#"></a></div>
            </td>
            <td class="request-reach">{{ user.reach || '9,391,471' }}</td>
            <td class="request-detail-link"><a href="#" ng-click="vm.viewDetails(user)">Details</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" ng-if="vm.requested.length < 1">
    <div class="col-sm-12">
      <div class="empty-state-wrapper">
        <img class="img-center" src="modules/core/client/img/icon-campaign.png">
        <h2>0 requested trials</h2>
        <p>They will come. :) Have you shared the campaign to your networks yet? If not, you know what to do.</p>
<!--         <a ui-sref="company.navbar.product.create" class="btn btn-lg sproutup-btn-md-main orange">Add New Product</a> -->
      </div>
    </div>
  </div>
</div>