<div class="row dashboard-body-wrapper" ng-init="vm.query.state = 0">
  <div class="col-sm-2">
    <div class="list-group">
      <a href="#" ng-click="vm.query.state = 0"><div class="list-group-item" ng-class="{ 'current': vm.query.state === 0 }">Requests</div></a>
      <!-- <a href="#"><div class="list-group-item">In Talk</div></a> -->
      <a href="#" ng-click="vm.query.state = 1"><div class="list-group-item" ng-class="{ 'current': vm.query.state === 1 }">Yes List</div></a>
      <!-- <a href="#" ng-click="vm.query.state = 10"><div class="list-group-item" ng-class="{ 'current': vm.query.state === 10 }">Completed</div></a> -->
    </div>
  </div>
  <div class="col-sm-10">
    <input ng-model="vm.query.$" class="form-control form-input" placeholder="Search requests"/>
  </div>
  <!-- Requests -->
  <div class="col-sm-10">
    <div ng-if="filteredItems.length < 1">
      <div class="empty-state-wrapper">
        <img class="img-center" src="modules/core/client/img/icon-campaign.png">
        <h2>No requests yet.</h2>
      </div>
    </div>
    <div class="sproutup-table table-responsive">
      <br>
      <table class="table table-hover" ng-show="filteredItems.length > 0">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th><a href="#" uib-popover="Reach measures the user's audience size and the potential impact of their content." popover-trigger="mouseenter">Reach</a></th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.contributors | filter: vm.query as filteredItems">
            <td class="request-avatar">
              <a ui-sref="slug.company.navbar.campaign.view.trial.requests.contributor({ userId: item.userId })">
                <img up-avatar="item.user" width="72" height="72">
              </a>
            </td>
            <td class="request-name-pitch">
              <div class="name"><a ui-sref="slug.company.navbar.campaign.view.trial.requests.contributor({ userId: item.userId })">{{ item.user.displayName|| 'User' }}</a><span>Requested {{ item.created | fromNow }}</span></div>
              <div>{{ item.comment | limitTo: 140 }}{{ item.comment.length < 140 ? '' : '...' }}</div>
            </td>
            <td class="request-reach">{{ item.user.reach || '0' }}</td>
            <td>
              <span ng-if="item.state == 0" class="label label-request-status pending">Requested</span>
              <span ng-if="item.state == 1 " class="label label-request-status completed">Approved</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Details panel -->
<div ui-view></div>
