<div class="row dashboard-body-wrapper" ng-init="vm.query.state = 0">
  <div class="col-sm-2">
    <div class="list-group">
      <a href="#" ng-click="vm.query.state = 0"><div class="list-group-item" ng-class="{ 'current': vm.query.state === 0 }">Requests</div></a>
      <a href="#"><div class="list-group-item">In Talk</div></a>
      <a href="#" ng-click="vm.query.state = 1"><div class="list-group-item" ng-class="{ 'current': vm.query.state === 1 }">Approved</div></a>
      <a href="#" ng-click="vm.query.state = 10"><div class="list-group-item" ng-class="{ 'current': vm.query.state === 10 }">Completed</div></a>
    </div>
  </div>
  <div class="col-sm-10">
    <input ng-model="vm.query.$" class="form-control form-input" placeholder="Search your contributors."/>
  </div>
  <!-- Requests -->
  <div class="col-sm-10">
    <div ng-if="filteredItems.length < 1">
      <div class="empty-state-wrapper">
        <img class="img-center" src="modules/core/client/img/icon-campaign.png">
        <h2>No trials found.</h2>
      </div>
    </div>
    <div class="sproutup-table table-responsive">
      <br>
      <table class="table table-hover" ng-show="filteredItems.length > 0">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th><a href="#">Total Reach</a><sup><i class="fa fa-question-circle"></i></sup></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.contributors | filter: vm.query as filteredItems">
            <td class="request-avatar"><a href="#">
              <img ng-if="item.user.avatarUrl" class="img-center" ng-src="{{ item.user.avatarUrl }}">
              <canvas ng-if="!item.avatarUrl" width="60" height="60" fontsize="28" name="{{ item.user.name }}" up-avatar></canvas>
            </a></td>
            <td class="request-name-pitch">
              <div class="name"><a href="#">{{ item.user.name || 'User' }}</a></div>
              <div>{{ item.comment || 'No reason specified' }}<a href="#"></a></div>
            </td>
            <td class="request-reach">{{ item.user.reach || '?' }}</td>
            <td class="request-detail-link" ng-click="vm.request = item"><a ui-sref="company.navbar.campaign.trial.view.requests.contributor({ userId: item.user.id })">Details</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Details panel -->
<div ui-view></div>
