<div class="row dashboard-body-wrapper" ng-init="vm.filterRequested()">
  <div class="col-sm-2">
    <div class="list-group">
      <a href="#" ng-click="vm.filterRequested()"><div class="list-group-item" ng-class="{ 'current': vm.filtering === 'requested' }">Requests</div></a>
      <!-- <a href="#"><div class="list-group-item">In Talk</div></a> -->
      <a href="#" ng-click="vm.filterApproved()"><div class="list-group-item" ng-class="{ 'current': vm.filtering === 'approved' }">Yes List</div></a>
      <!-- <a href="#" ng-click="vm.query.state = 10"><div class="list-group-item" ng-class="{ 'current': vm.query.state === 10 }">Completed</div></a> -->
    </div>
  </div>
  <div class="col-sm-10">
    <input ng-model="vm.query.$" class="form-control form-input" placeholder="Search requests"/>
  </div>
  <!-- Requests -->
  <div class="col-sm-10">
    <div ng-if="filteredItems.length < 1">
      <div class="empty-state-wrapper">
        <img class="img-center" src="modules/core/client/img/icon-campaign.png">
        <h2>No requests yet. Please be patient.</h2>
      </div>
    </div>
    <div class="sproutup-table table-responsive">
      <br>
      <table class="table table-hover" ng-show="filteredItems.length > 0">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th><a href="#" uib-popover="Reach measures the user's audience size and the potential impact of their content." popover-trigger="mouseenter">Reach</a></th>
            <th>Status</th>
            <th ng-if="vm.user.roles.indexOf('admin') > -1">Recommended</th>
            <th ng-if="vm.user.roles.indexOf('admin') > -1">Note</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.ContributorService.model.contributors | orderBy: ['state', '-trial.shippingState', 'recommended', '-user.services.followers', '-created'] | filter: vm.query as filteredItems">
            <td class="request-avatar">
              <a ui-sref="slug.company.navbar.campaign.view.trial.requests.contributor({ userId: item.userId })">
                <img up-avatar="item.user" width="72" height="72">
              </a>
            </td>
            <td class="request-name-pitch">
              <div class="name"><a ui-sref="slug.company.navbar.campaign.view.trial.requests.contributor({ userId: item.userId })">{{ item.user.displayName|| 'User' }}</a><span>Requested {{ item.created | fromNow }}</span></div>
              <div class="pitch">{{ item.comment | limitTo: 140 }}{{ item.comment.length < 140 ? '' : '...' }} <a ng-show="item.comment.length > 140" href="" uib-popover="{{ item.comment }}" popover-placement="top-left" popover-trigger="mouseenter">more</a></div>
              <div class="recommended" ng-show="item.recommended && item.recommended === 1"><a href="" uib-popover="{{ item.note }}" popover-placement="bottom-left" popover-trigger="mouseenter"><span>Recommended</span></a></div>
            </td>
            <td class="request-reach">{{ item.user.services.followers || '0' }}</td>
            <td>
              <span ng-if="item.state === 0" class="label label-request-status pending">Requested</span>
              <span ng-if="item.state === 1 && item.trial.shippingState !== 1" class="label label-request-status not-shipped">Not shipped</span>
              <span ng-if="item.state === 1 && item.trial.shippingState === 1" class="label label-request-status shipped">Shipped</span>
              <span ng-if="item.state === 2" class="label label-request-status completed">Content live</span>
            </td>
            <td ng-if="vm.user.roles.indexOf('admin') > -1">
              <span ng-if="item.recommended === 1">recommended</span>
              <span ng-if="item.recommended === -1">not recommended</span>
              <span ng-if="!item.recommended">Nothing Decided</span>
              <button ng-click="item.recommended = 1">Yes</button>
              <button ng-click="item.recommended = -1">No</button>
            </td>
            <td ng-if="vm.user.roles.indexOf('admin') > -1">
              <textarea ng-model="item.note"></textarea>
              <button ng-click="vm.updateContributor(item)">Save</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Details panel -->
<div ui-view></div>
