<div class="row dashboard-body-wrapper" ng-init="vm.findContent()" ng-show="vm.content.$resolved">
  <div class="content-stats-list">
    <div class="empty-state-wrapper" ng-if="!vm.content.length">
      <img class="img-center" src="https://s3-us-west-2.amazonaws.com/sproutup-assets/no-content.gif">
      <h2>No content yet.</h2>
      <p>Once a content is submitted, you will see it here.</p>
    </div>
    <div class="sproutup-table table-responsive" ng-if="vm.content.length">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Content</th>
            <th><a href="#" uib-popover="The number of times users viewed this video." popover-trigger="mouseenter">Impressions</a></th>
            <th><a href="#" uib-popover="The number of times users liked this video." popover-trigger="mouseenter">Likes</a></th>
            <th><a href="#" uib-popover="The number of times users shared this video" popover-trigger="mouseenter">Shares</a></th>
            <th><a href="#" uib-popover="The number of times users commented this video" popover-trigger="mouseenter">Comments</a></th>
            <th><a href="#" uib-popover="The average duration users watched this video" popover-trigger="mouseenter">Avg. Duration</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.content | orderBy: '-created'">
            <td ng-if="item.media=='yt'" class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/youtube.png"></td>
            <td ng-if="item.media=='tw'" class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/twitter.png"></td>
            <td ng-if="item.media=='pi'" class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/pinterest.png"></td>
            <td ng-if="item.media=='url'" class="social-network-icon"><img class="img-center" src="modules/core/client/img/social/url.png"></td>
            <td class="content">
              <div class="content-title" ng-bind="item.title"></div>
              <div class="content-subline">
                <span class="content-author" ng-bind="item.user.displayName"></span>&#183;
                <span class="content-timestamp" ng-bind="item.created | date"></span>&#183;
                <a class="content-view-link" ui-sref="slug.company.navbar.campaign.view.trial.stats.details({contentId:item.id})" ng-click="vm.contentItem = null">View Content</a>
              </div>
            </td>
            <td class="request-reach" ng-bind="item.metrics.views.value"></td>
            <td class="request-reach" ng-bind="item.metrics.likes.value"></td>
            <td class="request-reach" ng-bind="item.metrics.shares.value"></td>
            <td class="request-reach" ng-bind="item.metrics.comments.value"></td>
            <td class="request-reach" ng-bind="item.metrics.averageViewDuration.value"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Details panel -->
<div ui-view></div>
