<h1 class="dashboard-section-title" ng-init="vm.findOne()">
  <a ui-sref="company.navbar.campaign.list"><i class="fa fa-angle-left"></i></a>{{vm.item.name}}
  <div class="dashboard-menu-top">
    <a class="dashboard-menu-top-item active" ui-sref="company.navbar.campaign.trial.view">Requests</a>
    <a class="dashboard-menu-top-item" ui-sref="company.navbar.campaign.trial.view">Stats</a>
    <a class="dashboard-menu-top-item" ui-sref="company.navbar.campaign.trial.view">Configuration</a>
  </div>
</h1>

<div class="row dashboard-body-wrapper" ng-init="vm.status = 'Requested'">
  <div class="col-sm-3 request-group">
    <div class="list-group">
      <a ng-repeat="item in vm.trialmenu.items | orderBy: 'position'" ng-click="vm.status = item.title" ng-if="item.shouldRender(company.authentication.user);" ng-switch="item.type" class="{{item.class}}"><div class="list-group-item" ng-class="{ 'current': vm.status === item.title }">{{item.title}}</div></a>
    </div>
  </div>
  <!-- Requests -->
  <div class="col-sm-9 request-list" ng-show="vm.status === 'Requested'">
    <div ng-include="'modules/campaign/client/trial/requested.view.html'"></div>
  </div>
  <div class="col-sm-9 request-list" ng-show="vm.status === 'Approved'">
    <div ng-include="'modules/campaign/client/trial/approved.view.html'"></div>
  </div>
  <div class="col-sm-9 request-list" ng-show="vm.status === 'Completed'">
    <div ng-include="'modules/campaign/client/trial/completed.view.html'"></div>
  </div>
</div>

<!-- Details panel -->
<div class="dashboard-side-panel" ng-if="vm.details">
  <div class="dashboard-side-panel-wrapper">
    <div ng-include="'modules/campaign/client/trial/request-details.view.html'"></div>
  </div>
</div>