<div class="dashboard-product-banner brand-landing-page" style="background-image: url('modules/core/client/img/signin-page-background.jpg');">
  <div class="row dashboard-product-info-wrapper">
    <div class="col-sm-12">
      <div ng-if="company.company" class="dashboard-main-tagline">
        <div>You are joining the team <span><i>{{ company.company.name }}</i></span>. We've sent a message to your email address:</div>
        <div class="signup-email">{{ vm.authentication.emailSentTo }}</div>
      </div>
      <div ng-if="!company.company" class="dashboard-main-tagline">
        <div>Thank you for joining! We've sent a message to your email address:</div>
        <div class="signup-email"><i>{{ vm.authentication.emailSentTo }}</i></div>
      </div>
      <div class="dashboard-secondary-tagline">Please check your inbox and finish signing up</div>
      <a ng-show="vm.url" class="signup-email" ng-href="{{vm.url}}">Click here to verify</a>
    </div>
  </div>
</div>
