<div class="col-sm-9 col-change-password" data-ng-controller="ChangePasswordController">
  <div data-ng-if="success" class="hud success" up-banner message-variable="success" fade-out="5000">
    <i class="fa fa-check"></i>Password Changed Successfully
  </div>
  <div data-ng-if="error" up-banner message-variable="error" fade-out="5000" class="hud error">
    <i class="fa fa-frown-o"></i><span data-ng-bind="error"></span>
  </div>
  <form name="changePasswordForm" data-ng-submit="changeUserPassword()" class="signin" autocomplete="off">
    <fieldset>
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" class="form-control form-input" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
      </div>

      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control form-input" data-ng-model="passwordDetails.newPassword" placeholder="New Password" required ng-minlength="6">
        <div ng-messages="changePasswordForm.newPassword.$error" ng-show="changePasswordForm.$newPassword || changePasswordForm.newPassword.$touched">
          <div class="signup-login-form--error-message" ng-message="required"><i class="fa fa-minus-circle"></i>Password cannot be empty.</div>
          <div class="signup-login-form--error-message" ng-message="minlength"><i class="fa fa-minus-circle"></i>Your password has to be at least 6 characters long.</div>
        </div>
      </div>

      <!-- TODO: link href to save password method -->
      <div class="form-group">
        <button type="submit" class="btn btn-lg sproutup-btn-md-main" ng-disabled="changePasswordForm.$invalid">Confirm password change</button>
      </div>
    </fieldset>
  </form>
</div>
