<section data-ng-controller="SettingsController">
  <h1 class="dashboard-section-title">Account Settings</h1>  

  <div class="tab-set">
    <ul class="nav nav-pills tab-set-pills">
      <li data-ui-sref-active="active">
        <a data-ui-sref="user.settings.profile">Edit Profile</a>
      </li>
      <li data-ui-sref-active="active" data-ng-show="user.provider === 'local'">
        <a data-ui-sref="user.settings.password">Change Password</a>
      </li>
      <!-- <li data-ui-sref-active="active">
        <a data-ui-sref="user.settings.accounts">Manage Social Accounts</a>
      </li> -->
    </ul>
  </div>
  
  <div class="row settings-wrapper">
      <div data-ui-view></div>
  </div>
</section>
