<div ng-controller="AuthenticationController" ng-init="verifyInviteToken()">
  <div class="auth-header">
      <div class="text-center">
        <img class="auth-header-logo" src="modules/core/client/img/logo-square-orange.png">
      </div>
      <hr>
  </div>
  <div class="signup-login-header">
      <h1>Thanks for getting started with SproutUp</h1>
      <h2>Your email is <span>{{credentials.email}}</span>. Please fill out your personal information below.</h2>
  </div>
  <div class="signup-login-area">
    <form name="userForm" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="signup-login-form" show-errors>
          <!-- First Name -->
          <input type="text" ng-model="credentials.firstName" id="firstName" name="firstName" class="form-control form-validate signup-login-input" placeholder="First Name" required />
          <div ng-show="userForm.$submitted || userForm.firstName.$touched" ng-messages="userForm.firstName.$error">
            <div class="signup-login-form--error-message" ng-message="required"><i class="fa fa-minus-circle"></i>Please tell us your first name.</div>
          </div>
          <!-- Last Name -->
          <input type="text" ng-model="credentials.lastName" id="lastName" name="lastName" class="form-control form-validate signup-login-input" placeholder="Last Name" required />
          <div ng-show="userForm.$submitted || userForm.lastName.$touched" ng-messages="userForm.lastName.$error">
            <div class="signup-login-form--error-message" ng-message="required"><i class="fa fa-minus-circle"></i>Please tell us your last name.</div>
          </div>
          <!-- Username -->
          <input type="text" ng-model="credentials.username" ng-model-options="{ debounce: 250 }"  ng-pattern="/^[a-zA-Z0-9]+$/" ng-minlength="3" id="username" name="username" class="form-control form-validate signup-login-input" placeholder="Create a SproutUp username" required up-slug/>
          <div ng-messages="userForm.username.$error" ng-show="userForm.$submitted || userForm.username.$touched">
            <div class="signup-login-form--error-message" ng-message="required"><i class="fa fa-minus-circle"></i>A user without a username? Silly.</div>
            <div class="signup-login-form--error-message" ng-message="uniqueslug"><i class="fa fa-minus-circle"></i>This username has been taken.</div>
            <div class="signup-login-form--error-message" ng-message="minlength"><i class="fa fa-minus-circle"></i>Your username has to be at least 3 characters long.</div>
            <div class="signup-login-form--error-message" ng-message="pattern"><i class="fa fa-minus-circle"></i>Your username can only have letters and numbers. It can't have any spaces either.</div>
          </div>
          <!-- Password -->
          <input type="password" ng-model="credentials.password" id="password" name="password" class="form-control form-validate signup-login-input" placeholder="Create a password" required ng-minlength="6">
          <div ng-messages="userForm.password.$error" ng-show="userForm.$submitted || userForm.password.$touched">
            <div class="signup-login-form--error-message" ng-message="required"><i class="fa fa-minus-circle"></i>We cannot sign you up without a password.</div>
            <div class="signup-login-form--error-message" ng-message="minlength"><i class="fa fa-minus-circle"></i>Your password has to be at least 6 characters long.</div>
          </div>
          <div class="signup-agreement">
            <p>By signing up, I agree to SproutUp's <a ui-sref="terms" target="_blank">Terms of Service</a> and <a ui-sref="privacy" target="_blank">Privacy Policy</a>.</p>
          </div>
          <!-- sign up button -->
          <button class="btn btn-lg signup-login-btn" ng-click="signup()" ng-disabled="userForm.$invalid">Sign up</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
