<div class="auth-header">
    <div class="text-center">
      <img class="auth-header-logo" src="modules/core/client/img/logo-square.png">
    </div>
</div>

<div class="row">

    <div class="signup-login-header">
        <h1>Good to see you again! Please log in.</h1>
    </div>

    <div class="signup-login-area">
        <!-- email login -->
        <form name="loginForm" class="loginForm" novalidate>
            <div class="signup-login-form">
                <div ng-show="true">
                    <div class="signup-login-form--error-message" ng-show="vm.form.error"><i class="fa fa-minus-circle"></i>Err... seems like invalid email or password</div>
                </div>
                <input ng-model="vm.form.email" class="form-control signup-login-input" id="email" type="text" required placeholder="Email address">
                <input ng-model="vm.form.password" class="form-control signup-login-input" id="password" type="password" required placeholder="Password">
                <button ng-disabled="loginForm.$invalid" ng-click="vm.login()" class="btn btn-lg signup-login-btn" type="submit">Log in</button>
            </div>
        </form>
        <!-- footer -->
        <div class="signup-login-form-footer">
            <p><a ui-sref="password.forgot">Forgot password?</a></p>
            <p>Don't have an account? <a ui-sref="authentication.signup">Sign up</a> here.</p>
        </div>
    </div>
</div>
